<div ng-if="$ctrl.errorOccurred">
  <%= _('Report data could not load due to an error. Please try again or contact support.') %>
</div>
<div ng-if="!$ctrl.errorOccurred" ng-repeat="donationType in $ctrl.donationsByType | orderBy: 'order'">
  <div class="panel panel-default panel-report">
    <div class="panel-body panel-report-heading">
      <div class="row">
        <div class="col-xs-6" ng-switch="donationType.type">
          <h4 ng-switch-when="received"><%= _('Donations So Far This Month') %></h4>
          <h4 ng-switch-when="likely"><%= _('Likely Donors This Month') %></h4>
          <h4 ng-switch-when="unlikely"><%= _('Unlikely Donors This Month') %></h4>
          <h4 ng-switch-default>{{ donationType.type }}</h4>
        </div>
        <div class="col-xs-6 text-right" ng-if="donationType.donations">
          <h4>
            {{$ctrl.total_currency_symbol}}{{donationType.sum | number : 0}}
            {{$ctrl.total_currency}}
          </h4>
        </div>
      </div>
    </div>

    <table class="table table-striped" ng-if="donationType.donations">
      <thead>
      <tr>
        <th><%= _('Donor') %></th>
        <th><%= _('Status') %></th>
        <th class="text-right"><%= _('Commitment') %></th>
        <th class="text-right"><%= _('Frequency') %></th>
        <th class="text-right" ng-if="donationType.type == 'received'"><%= _('Donation') %></th>
        <th class="text-right"><%= _('Converted') %></th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="donation in donationType.donations | orderBy : 'donor'">
        <td><a href="/contacts/{{donation.contact_id}}" target="_blank">{{donation.donor}}</a></td>
        <td>{{donation.status}}</td>
        <td class="text-right">
          <div ng-if="donation.pledge_amount !== null">
            {{donation.pledge_currency_symbol}}{{donation.pledge_amount | number : 0}}
            {{donation.pledge_currency}}
          </div>
        </td>
        <td class="text-right">{{donation.pledge_frequency}}</td>
        <td class="text-right" ng-if="donationType.type == 'received'">
          {{donation.donation_currency_symbol}}{{donation.donation_amount | number : 0 }}
          {{donation.donation_currency}}
        </td>
        <td class="text-right">
          {{donation.converted_currency_symbol}}{{donation.converted_amount | number : 0}}
        </td>
      </tr>
      </tbody>
    </table>

    <div class="panel-footer" ng-if="!donationType.donations">
      <%= _('No donors found in this category') %>
    </div>
  </div>
</div>
