<% content_for :reason do %>
  <%=
    _('You are getting this email because email(s) MPDX synced with Mailchimp were invalid')
  %>
<% end %>
<h3>
  <%= format(_('Hey %{user},'), user: @user.first_name) %>
</h3>
<p>
  <%= _('MPDX was attempting to sync your contacts to MailChimp, and ran into an issue. MailChimp '\
        'rejected a few of your contacts email addresses, but did not give us a reason why. You can '\
        'see which email addresses were rejected in the attached list. These emails were not '\
        'imported into MailChimp, and we have marked them as "Invalid" in MPDX. We recommend '\
        'following up with them to correct the information.') %>
</p>

<ul>
  <% @emails_with_people.each do |email, people| %>
    <li>
      <%= email %>
      <ul>
        <% people.each do |person| %>
          <% url = WebRouter.contact_url(person.contacts.find_by(account_list: @account_list)) %>
          <li><%= link_to(person, url) %></li>
        <% end %>
      </ul>
    </li>
  <% end %>
</ul>

<p>
  <%= _('Thanks!') %>
  <br>
  <%= _('MPDX Support Team') %>
</p>
