<div ng-controller="tasksController" id="tasksController">
  <div class="row">
    <div class="col-md-3 col-sm-12 hidden-sm hidden-xs mobile_filters_wrap">
      <%= render 'sidebar' %>
    </div>
    <div class="col-md-9 col-sm-12" ng-cloak>
      <div id="contentbody" class="withleft">
        <div class="sticky-page-filters" data-spy="affix" data-offset-top="182" data-offset-bottom="180">
          <div class="page-filters">
            <div class="row">
              <div class="col-xs-2 col-sm-2 col-xs-3 hidden-md hidden-lg">
                <a class="btn btn-default btn-secondary toggle-mobile-filters"><i class="fa fa-bars"></i> Filters</a>
              </div>
              <div class="col-md-4 col-sm-5 col-xs-9 form-inline">
                <%= link_to(_('New Task'), new_task_path, id: 'add_task_button', class: 'btn btn-secondary add_task', remote: true) %>
              </div>
              <div class="col-md-5 col-md-offset-3 col-sm-5 col-xs-12 text-right"></div>
            </div>
          </div>
        </div>

        <div class="wpp">
          <h1 style="display:none;"></h1>
          <div class="mwrap" ng-show="totalTasksShown === 0 && !totalTasksLoading">
            <div>
              <span ng-show="filter.page === 'all'">
                <p class="spacer-top"><a href="/tasks/new" class="btn btn-lg btn-primary" data-remote="true"><%= _('Create Your First Task') %></a></p>
                <h1><%= _("It's time to add your first task!") %></h1>
                <p><%= _("Tasks are how MPDX helps you to stay on top of your MPD goals. From follow up, to making contact with someone for the first time, MPDX tasks will be your tool for keeping it all together. As you add and complete tasks, you will begin to see your dashboard, reports, contact details and other areas all come to life with real time information about your MPD.") %></p>
                <h2><%= _("There's more!") %></h3>
                <p><%= _("Once you've loaded up your tasks, you can use filters to quickly sort tasks that you're working on or have already completed.") %></p>
              </span>
              <span ng-show="filter.page !== 'all'">
                You don't have any tasks that are <span ng-show="filter.page === 'today'">set for today</span><span ng-show="filter.page === 'overdue'">overdue</span><span ng-show="filter.page === 'upcoming'">upcoming</span> or match a filter you have set.
                <%= _('Try') %> <a href="/tasks/new" data-remote="true"><%= _('creating a new task') %></a>, <a href="#" ng-click="resetFilters()"><%= _('resetting your filters') %></a> or <a href="#" ng-click="filter.page = 'all'"><%= _('showing all tasks') %></a>.
              </span>
            </div>
          </div>

          <p ng-show="totalTasksShown === 0 && totalTasksLoading"><i class="fa fa-spinner fa-spin"></i> <%= _('Loading tasks') %>...</p>

          <div ng-repeat="g in taskGroups" ng-class="{'contact_loading': g.loading}" ng-show="g.visible && tasks[g.filter].length > 0">
            <table class="tablelist">
              <thead>
              <tr class="taskgroup" ng-class="g.class">
                <th colspan="3">
                  <div style="float:right" class="form-inline"><%= _('Show') %>: <select ng-model="filter.tasksPerGroup" ng-options="i as i for i in [10, 25, 50, 100, 500]" class="form-control"></select></div>
                  {{g.title}}
                  <%= render 'actions' %>
                </th>
                <th><input type="checkbox" class="select_all"  data-toggle="tooltip" data-placement="top" title="Select All"/></th>
              </tr>
              </thead>

              <tbody class="tasks">
                <tr task="task" ng-repeat="task in tasks[g.filter]" id="task_{{task.id}}" class="tasklist" multiselect="true"></tr>
                <tr>
                  <td colspan="4">
                    <div class="row">
                      <div class="col-md-8 col-sm-8">
                        <div class="pagination">
                          <span class="previous_page disabled" ng-show="g.currentPage === 1">← <%= _('Previous') %></span>
                          <a class="previous_page" rel="prev start" href="" ng-click="goToPage(g, g.currentPage-1)" ng-show="g.currentPage > 1">← <%= _('Previous') %></a>

                        <span ng-repeat="n in [1, g.meta.total_pages] | makeRange">
                          <em class="current" ng-show="n === g.currentPage">{{n}}</em>
                          <a rel="next" ng-show="n !== g.currentPage && ((n > (g.currentPage-8) && n < (g.currentPage+8)) || n === 1 || n === g.meta.total_pages)" href="" ng-click="goToPage(g, n)">{{n}}</a>
                          <span ng-show="(n === 2 && page.current > 9) || (n === page.total-1 && page.current < page.total - 8)">...</span>
                        </span>

                          <span class="next_page disabled" ng-show="g.currentPage === g.meta.total_pages"><%= _('Next') %> →</span>
                          <a class="next_page" rel="next" href="" ng-click="goToPage(g, g.currentPage+1)" ng-show="g.currentPage < g.meta.total_pages"><%= _('Next') %> →</a>
                        </div>
                      </div>
                      <div class="col-md-4 col-sm-4 text-right"><%= _('Displaying') %> <b>{{g.meta.from}}&nbsp;-&nbsp;{{g.meta.to}}</b> <%= _('of') %> <b>{{g.meta.total}}</b></div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%= render 'tasks/results_modal' %>

  <div id="bulk_edit_task_modal" title="<%= _('Blank fields will not be updated') %>" style="display:none">
    <div class="form_wrapper">
      <%= render 'tasks/bulk_modal_form' %>
    </div>
  </div>

  <task-followup-dialog id="task-followup-dialog"></task-followup-dialog>
</div>
