<div class="row">
<div class="col-md-3 settings-sidebar" role="complementary">
  <%= render 'settings_sidebar' %>
</div>
<div class="col-md-9">
  <div id="contentbody" class="withleft">
    <div class="wpp">
      <div class="row">
        <div class="col-md-12">
          <div class="page-filters">
            <h2><%= _('Account Sharing & Merging') %></h2>
          </div>
        </div>
      </div>
    </div>
    <div class="cw-top">
      <%= _('Your currently selected MPDX Account is:') %>
      <b><%= current_account_list.name %></b>.
      <br/><br/>

      <table class="account-users">
        <tr><th><%= _('Account currently shared with') %></th><th><%= _('Status') %></th></tr>
        <% current_account_list.users.each do |user| %>
          <tr>
            <td><%= "#{user.first_name} #{user.last_name} (#{user.email_addresses.first})" %></td>
            <td>
              <% designation_profile = current_account_list.designation_profiles.find_by(user: user) %>
              <% if designation_profile  %>
                <%= _('Linked by designation: ') + designation_profile.name %>
              <% else  %>
                <% invite = current_account_list.account_list_invites.find_by(accepted_by_user: user) %>
                <% if invite %>
                  <%= _('Invited by: ') + "#{invite.invited_by_user.first_name} #{invite.invited_by_user.last_name}" %>
                  <% if current_user.can_manage_sharing?(current_account_list) %>
                    <%= link_to _('Remove Access'), remove_access_account_lists_path(user_id: user.id),
                      class: 'btn btn-xs btn-secondary', method: :post %>
                  <% end %>
                <% else %>
                  <%= _('Manually added by MPDX support') %>
                <% end %>
              <% end %>
            </td>
          </tr>
        <% end %>
        <% current_account_list.account_list_invites.active.where(accepted_by_user: nil).each do |invite| %>
          <tr>
            <td><%= _('Pending invite for: ') + invite.recipient_email %></td>
            <td>
              <%= _('Sent by: ') + invite.invited_by_user.to_s %>
              <% if current_user.can_manage_sharing?(current_account_list) %>
                <%= link_to _('Cancel Invite'), cancel_invite_account_lists_path(invite_id: invite.id),
                  class: 'btn btn-xs btn-secondary', method: :post %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </table>

      <% if current_user.can_manage_sharing?(current_account_list) %>
        <br/>
        <h4><%= _('To invite another user to access this account, enter their email:') %></h4>
        <div class="row">
          <%= form_tag share_account_lists_path do %>
            <div class="col-md-4">
              <%= text_field_tag :email, nil, placeholder: _('person.to.share@cru.org') %>
            </div>
            <div class="col-md-2">
              <%= submit_tag _('Share Account'), class: 'btn btn-xs btn-secondary' %>
            </div>
          <% end %>
        </div>
      <% end %>

      <br/>
      <% if @mergeable_accounts.size == 0 %>
        <p>
          <%= _("You only have access to this account, so you can't merge it with another one yet.") %>
        </p>
      <% else %>
        <h4><%= _('Merge this account with another of your accounts:') %></h4>
        <div class="row">
          <%= form_tag merge_account_lists_path do %>
            <div class="col-md-4">
              <%= select_tag :merge_id,
                    options_from_collection_for_select(@mergeable_accounts, :id, :name),
                    class: 'form-control' %>
            </div>
            <div class="col-md-2">
              <%= submit_tag _('Merge...'), class: 'btn btn-xs btn-secondary',
                    data: { confirm: _("IMPORTANT: Merging accounts is permanent and can't be undone.") } %>
            </div>
          <% end %>
        </div>
      <% end %>

      <% if impersonator_user.present? %>
        <%= render('account_reset') %>
      <% end %>
      </div>
    </div>
  </div>
</div>
