<style>
    th { vertical-align: bottom; }
</style>
<div class="clr"></div>
<% if @xsd_results %>

<h2>Recurring Gift Recommendations for <%= @current_user%></h2>

<div class="clr"></div>
<table class="tablelist donations" id="recurringGiftsDataTable">
  <thead>
  <tr>
    <th>Gift Range</th>
    <th width="18%">Donor Account</th>
    <th>Zip Code</th>
    <th>HH Income Range by Zip</th>
    <th>Current Gift Amount</th>
    <th>Average HH Income by Zip<sub>+</sub></th>
    <th>Last Increase</th>
    <th>Next Suggested Ask</th>
    <th>Suggested Ask Amount</th>
    <th>Max Ask Amount</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <% @xsd_results.each  do |c| %>
  <% @contact_id  = current_account_list.contacts.joins(:donor_accounts).where(donor_accounts: {account_number: c[:Column8]}).pluck('"contacts"."id"') %>

  <tr  >
    <td width="Auto"><%= c[:Column5] %></td>
    <td width="Auto"><%= link_to( c[:Column16], current_account_list.contacts.where(id: @contact_id, account_list_id: current_account_list.id).first) %></td>
    <td><%= c[:Column12] %></td>
    <td><%= c[:Column6] %></td>
    <td style="text-align:center">$<%= c[:Column1] %></td>
    <td style="text-align:center">$<%= c[:Column2] %></td>
    <td class="date"><%= c[:Column10] %></td>
    <td class="nextAskYearMonth" ><%= c[:Column15]  %></td>
    <td style="text-align:center">$<%= c[:Column13] %></td>
    <td style="text-align:right">$<%= c[:Column14] %></td>
    <td style="visibility:hidden" class="monthsUntilAsk" ><%= c[:Column11] %></td>
  </tr>

  <% end %>
      </tbody>
    </table>

<p>
<small><p align="left" position="bottom">+&nbsp;<cite>US Census Bureau. (2012). Retrieved from http://factfinder2.census.gov/ </cite></p></small>
</p>
<% else %>
    <div class="mwrap">
      <div class="nohide floating" style="background-color: #FDFFD4;">You have no monthly recurring gift recommendations.</div>
    </div>
 <% end %>

<script type="text/javascript">
    $(document).ready(function () {
        $('#recurringGiftsDataTable tr td.nextAskYearMonth').each(function() {

            var dateFormat =  $(this).text();
            dateFormat = $.datepicker.formatDate('yy / mm', new Date(dateFormat));
            var numberOfMonths = parseInt( $('#recurringGiftsDataTable tr td.monthsUntilAsk').text(), 10) *1 ;

                $(this).html(dateFormat);

        });


        $('#recurringGiftsDataTable tr td.monthsUntilAsk').text().each(function(){

            var numberOfMonths = parseInt($(this).text(),10);
            alert(numberOfMonths);
            if ( numberOfMonths < -24)
            {
                $(this).html($('#recurringGiftsDataTable tr td.nextAskYearMonth')).css({'color': '#dd7d1b'});
            }

        });
    });


</script>