<div class="clr"></div>
<h2>Recurring Gift Recommendations for <%= @current_user%></h2>

<div class="clr"></div>
<table class="tablelist donations" id="recurringGiftsDataTable">
  <thead>
  <tr>
    <th >Gift Range</th>
    <th>Donor Account Number</th>
    <th>Zip Code</th>
    <th>HH Income Range by Zip</th>
    <th>Current Gift Amount</th>
    <th>Average HH Income by Zip<sub>+</sub></th>
    <th>Last Increase</th>
    <th>Next Suggested Ask</th>
    <th>Suggested Ask Amount</th>
    <th>Max Ask Amount</th>
  </tr>
  </thead>
  <tbody>
  <% @xsd_results.each  do |c| %>
      <tr>
        <td width='Auto'><%= c[:Column5] %></td>
        <td><%= c[:Column9] %></td>
        <td><%= c[:Column12] %></td>
        <td><%= c[:Column6] %></td>
        <td style="text-align:center">$<%= c[:Column1] %></td>
        <td style="text-align:center">$<%= c[:Column2] %></td>
        <td><%= c[:Column11] %></td>
        <td class="nextAsk" ><%= c[:Column14]  %></td>
        <td style="text-align:right">$<%= c[:Column13] %></td>
        <td style="text-align:right">$<%= c[:Column7] %></td>
      </tr>

  <% end %>
      </tbody>
    </table>

<p>
<small><p align="left" position="bottom">+&nbsp;<cite>US Census Bureau. (2012). Retrieved from http://factfinder2.census.gov/ </cite></p></small>
</p>



<script type="text/javascript">
    $(document).ready(function () {
        $('#recurringGiftsDataTable tr td.nextAsk').each(function() {

            var dateFormat =  $(this).text();
            var dateFormat = $.datepicker.formatDate('yy / mm', new Date(dateFormat));

            $(this).html(dateFormat);
        });
    });


</script>