<% if current_user.setup.count > 0 %>
  <div class="row">
    <div class="getting_started_title col-md-6 col-md-offset-3">
      <h1><%= _('Hi') %> <%= current_user.first_name %>!</h1>
      <h3><%= _("While there's a lot you can do in MPDX, here's a few easy steps to get you up and going:") %></h3>
    </div>
  </div>
<% else %>
  <h1><%= _('Hi') %> <%= current_user.first_name %>! <span class="smallhead"><%= _("Here's whats happening...") %></span></h1>
<% end %>

<div class="row">
  <% if current_user.setup.include? :import %>
    <div class="col-md-4 getting-started-panel">
      <div class="getting_started_number">1</div>
      <div class="panel panel-default">
        <div class="panel-body">
          <table>
            <tr>
              <td class="identify">
                <h3>TntMPD</h3>
              </td>
              <td class="connections" data-behavior="account">
                <%= link_to(_('Import Tnt Contacts'), new_account_path(provider: 'tnt_import'),
                    class: "btn btn-xs btn-secondary", remote: true, behavior: "show_import") %>
              </td>
            </tr>
            <tr>
              <td class="identify">
                <h3>.CSV File</h3>
              </td>
              <td class="connections" data-behavior="account">
                <%= link_to(_('Import Contacts'), new_account_path(provider: 'csv_import'),
                    class: "btn btn-xs btn-secondary", remote: true, behavior: "show_import") %>
              </td>
            </tr>
            <tr>
              <td class="identify">
                <h3>Google</h3>
              </td>
              <td class="connections" data-behavior="account">
                <% current_user.google_accounts.each do |account| %>
                  <div class="account_single">
                    <span class="account_name"><%= account %></span>
                    <% if account.token_expired? && !account.refresh_token! %>
                      <%= link_to(_('Refresh Google Account'), new_account_path(provider: :google, redirect: home_path),
                                  class: 'btn btn-xs btn-secondary desired_action') %>
                    <% else %>
                      <%= link_to('<i class="fa fa-cloud-download"></i> '.html_safe+_('Import Contacts'),
                                  new_account_path(provider: 'google_import', account_id: account.id),
                                  class: "btn btn-xs btn-secondary", remote: true, behavior: "show_import") %>
                    <% end %>
                  </div>
                <% end %>
                <%= auth_link('google') %>
              </td>
            </tr>
          </table>
        </div>
      </div>
      <h2><%= _('Import Contacts') %></h2>
    </div>
  <% end %>
  <% if current_user.setup.include? :goal %>
    <div class="col-md-4 getting-started-panel">
      <div class="getting_started_number">2</div>
      <div class="panel panel-default">
        <div class="panel-body">
          <% preference_set = PreferenceSet.new(user: current_user, account_list: current_account_list) %>
          <%= form_for preference_set, url: preference_path(current_user, redirect: home_path),
                       method: :put do |f| %>
            <%= f.label :monthly_goal, _('Monthly goal') %>
            <div class="input-group">
              <%= f.text_field :monthly_goal, class: 'form-control' %>
              <span class="input-group-btn">
                <%= f.submit _('Save'), class: 'btn btn-primary' %>
              </span>
            </div>
          <% end %>
          <hr>
          <%= link_to(_('Setup Notifications'), notifications_preferences_path,
                      class: 'btn btn-secondary', remote: true) %>
        </div>
      </div>
      <h2><%= _('Setup Your Support Goal And Notifications') %></h2>
    </div>
  <% end %>
  <% if current_user.setup.include? :contacts %>
    <div class="col-md-4 getting-started-panel">
      <div class="getting_started_number">3</div>
      <div class="panel panel-default">
        <div class="panel-body" ng-controller="smallNamestorm as namestorm">
          <form ng-submit="namestorm.addContact()">
            <p><%= _("Let's namestorm a few contacts. You can start "+
                     "with the contact name, we normally do 'Last Name, First'") %></p>
            <p ng-cloak>{{namestorm.error}}</p>
            <div class="input-group">
              <input type="text" ng-model="namestorm.newContactName"
                     ng-disabled="namestorm.apiBusy" id="welcome-new-contact-name"
                     placeholder="<%= _('Last Name, First Name') %>" class="form-control" />
              <span class="input-group-btn">
                <input type="submit" value="Add" class="btn btn-primary"
                       ng-disabled="namestorm.newContactName.length == 0 || namestorm.apiBusy"/>
              </span>
            </div>
            <select class="form-control" ng-model="namestorm.newContactStatus">
              <option ng-repeat="status in namestorm.contactStatuses" value="{{status}}">{{status}}</option>
            </select>
            <div ng-cloak ng-show="namestorm.contacts.length > 0">
              <p><%= _('Here are your new contacts, click one to edit more of their information!') %></p>
              <ul>
                <li ng-repeat="contact in namestorm.contacts">
                  <a href="/contacts/{{contact.id}}/edit/" target="_blank">{{contact.name}}</a>
                </li>
              </ul>
            </div>
          </form>
        </div>
      </div>
      <h2><%= _('Add A Contact') %></h2>
    </div>
  <% end %>
  <% if current_user.setup.count < 2 %>
    <div class="col-md-<%= 12 - (current_user.setup.count*4) %> donations_summary_panel">
      <% cache(['donations_summary_chart', current_account_list], expires_in: 24.hours) do %>
        <div id="donations_summary_chart"></div>
        <%= render 'donations_summary_chart' %>
      <% end %>
    </div>
  <% end %>
</div>
