<div id="contentbody">
  <div class="wpp">
    <h1><%= _('Hi') %> <%= current_user.first_name %>! <span class="smallhead"><%= _("Here's whats happening...") %></span></h1>

    <div class="row">
      <div class="col-md-12">
        <% if current_account_list.monthly_goal.present? %>
          <% cache(['donations_summary_chart', current_account_list], expires_in: 24.hours) do %>
            <div id="donations_summary_chart">

            </div>
            <%= render 'donations_summary_chart' %>
          <% end %>
        <% else %>
          <%= link_to(preferences_path(:focus => "preference_set_monthly_goal")) do %>
            <div class="mwrap">
              <div class="nohide floating info">
                <%= _('Click here to set your monthly goal, after which we will show you a pretty graph of your donations') %>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>

    <div class="row" id="dash-widgets">
      <div class="col-md-4">
        <div class="panel panel-default dash-panel panel-tasks">
          <div class="panel-heading">
            Connect
          </div>
          <div class="panel-body">
            Tasks overdue or due today
            <ul class="dash-tasks plain-list">
              <% current_account_list.tasks.overdue_and_today.group(:activity_type).count.each do |type, count| %>
                <% next if type == '' %>
                <li>
                  <a href="<%= tasks_path(filters: {activity_type: [type]}) %>">
                    <span class="count"><%= count %></span>
                    <%= type == 'Talk to In Person' ? _(type) : n_(type, type+'s',count) %>
                  </a>
                </li>
              <% end %>
            </ul>

            <a href="<%= tasks_path %>" class="see-all">
              <i class="fa fa-plus-square-o"></i> See all <%= current_account_list.tasks.overdue_and_today.count %> Tasks
            </a>

            <%= link_to('<i class="fa fa-plus-circle"></i> '.html_safe+_('Add a New Task'),
                        new_task_path, class: 'btn btn-blue btn-lg btn-add-tasks add_task', remote: true) %>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="panel panel-default dash-panel">
          <div class="panel-heading">
            Commitments Unfufilled
          </div>
          <div class="panel-body">

            <div class="dash-stat">
              <span class="count-big">
                <%= current_account_list.contacts.financial_partners.where(pledge_received: false).count %>
              </span> first gift not received
            </div>

            <div class="dash-stat">
              <span class="count-big">
                <%= current_account_list.contacts.late_by(31.days, 60.days).count %>
              </span> partners <strong>30</strong> days late
            </div>

            <div class="dash-stat">
              <span class="count-big">
                <%= current_account_list.contacts.late_by(61.days).count %>
              </span> partners <strong>60</strong> days late
            </div>


            <a href="<%= contacts_path(filters: {status: ['Partner - Financial'], pledge_received: false}) %>"
               class="see-all">
               <i class="fa fa-plus-square-o"></i>
               See all <%= current_account_list.contacts.financial_partners.where(pledge_received: false).count %> unreceived commitments
            </a>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="panel panel-default dash-panel">
          <div class="panel-heading">
            Care
            <%= link_to('+ '+_('Log Prayer Letter'),
                        new_task_path(completed: true, activity_type: 'Newsletter'),
                        class: 'badge badge-blue badge-right-well add_task', remote: true) %>
          </div>
          <div class="panel-body">
            <div class="dash-stat">
              <% current_account_list.tasks.completed.of_type('Newsletter').first.tap do |newsletter| %>
                <% if newsletter %>
                  <span class="count-big"><%= _(time_ago_in_words(newsletter.completed_at)) %></span> since your last prayer letter
                <% else %>
                  <%= _("You've never logged a prayer letter") %>
                <% end %>
              <% end %>
            </div>

            <h4 class="title">Recent Birthdays</h4>
            <% people_with_birthdays = current_account_list.people_with_birthdays(
                                         Time.zone.now.beginning_of_week, Time.zone.now.end_of_week)
               birthdays_count = people_with_birthdays.count %>
            <% if birthdays_count > 0 %>
              <ul class="plain-list birthdays-list">
                <% people_with_birthdays.each do |person|
                   p_exhibit = exhibit(person, self)%>
                  <li>
                    <%= link_to(p_exhibit, person) %>:
                    <%= l(Date.new(Time.zone.now.year, person.birthday_month, person.birthday_day), format: 'MMM-d') %>
                    <%= link_to('', person.facebook_account.url, {class: "fa fa-facebook-square"}) if person.facebook_account %>
                    <%= link_to('', person.twitter_account.url, {class: "fa fa-twitter-square"}) if person.twitter_account %>
                    <%= mail_to(person.primary_email_address, '', {class: "fa fa-envelope"}) if person.primary_email_address %>
                  </li>
                <% end %>
              </ul>
              <% more_bdays_text = '<i class="fa fa-plus-square-o"></i> '.html_safe +
                                   _('See all %{c} Birthdays').localize % {c: birthdays_count} %>
              <%= link_to(more_bdays_text, '#', class: 'see-all-birthdays') if birthdays_count > 5 %>
            <% else %>
              <%= _('No recent birthdays!') %>
            <% end %>
          </div>
        </div>
      </div>

    </div>

    <section id="dash-progress">
      <div class="page-filters">
        <div class="row">
          <div class="col-md-6">
            <h3>Progress <span class="normal-weight">June 5 - July 5</span></h3>
          </div>
          <div class="col-md-6 text-right">
            <a href="" class="btn btn-blue">Weekly Progress Report</a>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8">
          <div class="well">
            <div class="progress-box-title"><i class="fa fa-users"></i> Contacts</div>
            <div class="progress-stat"><span class="count-big">0</span> Active</div>
            <div class="progress-stat"><span class="count-big">0</span> Referrals On-hand</div>
            <div class="progress-stat"><span class="count-big">5</span> Gained</div>
          </div>
          <div class="well">
            <div class="progress-box-title"><i class="fa fa-mobile"></i> Phone Dials</div>
            <div class="progress-stat"><span class="count-big">0</span> Outgoing</div>
            <div class="progress-stat"><span class="count-big">5</span> Talked To</div>
            <div class="progress-stat"><span class="count-big">2</span> Appointments Produced</div>
            <ul class="plain-list">
              <li>Completed: 0</li>
              <li>Attempted: 0</li>
              <li>Received: 0</li>
            </ul>
          </div>
          <div class="well">
            <div class="progress-box-title"><i class="fa fa-desktop"></i> Electronic Contacts</div>
            <div class="progress-stat"><span class="count-big">0</span> Sent</div>
            <div class="progress-stat"><span class="count-big">5</span> Received</div>
            <div class="progress-stat"><span class="count-big">2</span> Appointments Produced</div>
            <ul class="plain-list">
              <li>Email: 0 Sent / 0 Received</li>
              <li>Facebook: 0 Sent / 0 Received</li>
              <li>Text SMS: 0 Sent / 0 Received</li>
            </ul>
          </div>
          <div class="well">
            <div class="progress-box-title"><i class="fa fa-envelope-o"></i> Correspondence</div>
            <div class="progress-stat"><span class="count-big">10</span> Pre-call Letters</div>
            <div class="progress-stat"><span class="count-big">5</span> Support Letters</div>
            <div class="progress-stat"><span class="count-big">2</span> Thank You Notes</div>
            <div class="progress-stat"><span class="count-big">2</span> Reminders</div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="well">
            <div class="progress-box-title"><i class="fa fa-calendar"></i> Appointments</div>
            <div class="progress-stat"><span class="count-big">0</span> Completed</div>

          </div>

          <div class="">
            <div class="panel panel-default dash-panel">
              <div class="panel-heading">
                Appeals
              </div>
              <div class="panel-body">
                <div class="appeal-single">
                  <div class="dash-stat">
                    <span class="count-big count-yellow">$500.00</span>/$5000.00
                  </div>
                  <div class="dash-progress">
                    <div class="progress-bar progress-yellow" style="width: 20%;"></div>
                    <span class="progress-count">20%</span>
                  </div>
                  East Asia Summer Project
                </div>
                <div class="appeal-single">
                  <div class="dash-stat">
                    <span class="count-big count-red">$500.00</span>/$5000.00
                  </div>
                  <div class="dash-progress">
                    <div class="progress-bar progress-red" style="width: 20%;"></div>
                    <span class="progress-count progress-count-inside">20%</span>
                  </div>
                  East Asia Summer Project
                </div>
                <a href="" class="see-all"><i class="fa fa-plus-square-o"></i> See all 50 Appeals</a>
              </div>
            </div>
          </div>


        </div>
    </section>

    <div id="dash-tabs" class="tabgroup">
      <ul>
        <li class="killround"><a href="#dash-connect" onClick="_gaq.push(['_trackEvent', 'Dashboard Tabs', 'Click', '<%= _('Connect') %>']);"><%= _('Connect') %></a></li>
        <li class="killround"><a href="#dash-care" onClick="_gaq.push(['_trackEvent', 'Dashboard Tabs', 'Click', '<%= _('Care') %>']);"><%= _('Care') %></a></li>
        <li class="killround"><a href="#dash-cultivate" onClick="_gaq.push(['_trackEvent', 'Dashboard Tabs', 'Click', '<%= _('Cultivate') %>']);"><%= _('Cultivate') %></a></li>
        <li class="killround"><a href="#dash-progress" onClick="_gaq.push(['_trackEvent', 'Dashboard Tabs', 'Click', '<%= _('Progress') %>']);"><%= _('Progress') %></a></li>
        <li class="killround"><a href="#dash-appeals" onClick="_gaq.push(['_trackEvent', 'Dashboard Tabs', 'Click', '<%= _('Appeals') %>']);"><%= _('Appeals') %></a></li>
      </ul>

      <div id="dash-connect" ng-controller="taskShortListController" ng-init="init('top5','')">
        <table class="list tasklist">
          <tr task="task" ng-repeat="task in tasks" id="task_{{task.id}}"></tr>
        </table>
        <div class="seemore">
          <%= link_to(_('See All'), tasks_path, class: 'btn btn-primary btn-sm') %>
        </div>
      </div>
      <div id="dash-care"></div>
      <div id="dash-cultivate"></div>
      <div id="dash-progress"></div>
      <div id="dash-appeals"><p><appeals-list></appeals-list></div>

    </div>

  </div>
</div>
<task-followup-dialog id="task-followup-dialog"></task-followup-dialog>
<%= render 'tasks/results_modal' %>
