<div id="contentbody">
  <div class="wpp">
    <h1><%= _('Hi') %> <%= current_user.first_name %>! <span class="smallhead"><%= _("Here's whats happening...") %></span></h1>

    <% if current_account_list.monthly_goal.present? %>
      <% cache(['donations_summary_chart', current_account_list], expires_in: 24.hours) do %>
        <div id="donations_summary_chart">

        </div>
        <%= render 'donations_summary_chart' %>
      <% end %>
    <% else %>
      <%= link_to(preferences_path(:focus => "preference_set_monthly_goal")) do %>
        <div class="mwrap">
          <div class="nohide floating info">
            <%= _('Click here to set your monthly goal, after which we will show you a pretty graph of your donations') %>
          </div>
        </div>
      <% end %>
    <% end %>


    <section id="dash-widgets">
      <div class="row">
        <div class="col-md-4">
          <div class="panel panel-default">
            <div class="panel-heading">
              Tasks <span class="badge data-font">45</span>
            </div>
            <div class="panel-body">
              blah blah blah
              <a href="" class="btn btn-primary">Add a New Task</a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="panel panel-default">
            <div class="panel-heading">
              Cultivate
            </div>
            <div class="panel-body">
              blah blah blah
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="panel panel-default">
            <div class="panel-heading">
              Appeals
            </div>
            <div class="panel-body">
              blah blah blah
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="dash-progress">
      <div class="page-filters">
        <div class="row">
          <div class="col-md-6">
            <h3>Progress</h3>
          </div>
          <div class="col-md-6 text-right">
            <a href="" class="btn btn-secondary">Weekly Progress Report</a>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8">
          <div class="well">
            Phone Dials
          </div>
          <div class="well">
            Electronic Contacts
          </div>
          <div class="well">
            Correspondence
          </div>
        </div>
        <div class="col-md-4">
          <div class="well">
            Contacts
          </div>
          <div class="well">
            Appointments
          </div>
        </div>
    </section>


    <div id="dash-tabs" class="tabgroup">
      <ul>
        <li class="killround"><a href="#dash-connect" onClick="_gaq.push(['_trackEvent', 'Dashboard Tabs', 'Click', '<%= _('Connect') %>']);"><%= _('Connect') %></a></li>
        <li class="killround"><a href="#dash-care" onClick="_gaq.push(['_trackEvent', 'Dashboard Tabs', 'Click', '<%= _('Care') %>']);"><%= _('Care') %></a></li>
        <li class="killround"><a href="#dash-cultivate" onClick="_gaq.push(['_trackEvent', 'Dashboard Tabs', 'Click', '<%= _('Cultivate') %>']);"><%= _('Cultivate') %></a></li>
        <li class="killround"><a href="#dash-progress" onClick="_gaq.push(['_trackEvent', 'Dashboard Tabs', 'Click', '<%= _('Progress') %>']);"><%= _('Progress') %></a></li>
        <li class="killround"><a href="#dash-appeals" onClick="_gaq.push(['_trackEvent', 'Dashboard Tabs', 'Click', '<%= _('Appeals') %>']);"><%= _('Appeals') %></a></li>
      </ul>

      <div id="dash-connect" ng-controller="taskShortListController" ng-init="init('top5','')">
        <table class="list tasklist">
          <tr task="task" ng-repeat="task in tasks" id="task_{{task.id}}"></tr>
        </table>
        <div class="seemore">
          <%= link_to(_('See All'), tasks_path, class: 'btn btn-primary btn-sm') %>
        </div>
      </div>
      <div id="dash-care"></div>
      <div id="dash-cultivate"></div>
      <div id="dash-progress"></div>
      <div id="dash-appeals"><p><appeals-list></appeals-list></div>

    </div>

  </div>
</div>
<task-followup-dialog id="task-followup-dialog"></task-followup-dialog>
<%= render 'tasks/results_modal' %>