<div id="contentbody">
  <div class="wpp">
    <%= render 'welcome_header' %>

    <div class="row" id="dash-widgets">
      <div class="col-md-4">
        <div class="panel panel-default dash-panel panel-tasks">
          <div class="panel-heading">
            <%= _('Connect') %>
          </div>
          <div class="panel-body dash-tasks">
            <%= _('Tasks overdue or due today') %>
            <ul class="plain-list">
              <% current_account_list.tasks.overdue_and_today.group(:activity_type).count.each do |type, count| %>
                <% next if type == '' || !type %>
                <li>
                  <a href="<%= tasks_path(filters: {actionSelect: [type]}) %>">
                    <span class="count"><%= count %></span>
                    <%= type == 'Talk to In Person' ? _(type) : n_(type, type+'s',count) %>
                  </a>
                </li>
              <% end %>
            </ul>

            <a href="<%= tasks_path %>" class="see-all see-all-tasks">
              <i class="fa fa-plus-square-o"></i>
              <%= _('See all %{overdue_count} tasks').localize % { overdue_count: current_account_list.tasks.overdue_and_today.count } %>
            </a>

            <%= link_to('<i class="fa fa-plus-circle"></i> '.html_safe+_('Add a New Task'),
                        new_task_path, class: 'btn btn-blue btn-default btn-add-tasks add_task', remote: true) %>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="panel panel-default dash-panel">
          <div class="panel-heading">
            <%= _('Commitments Unfulfilled') %>
          </div>
          <div class="panel-body">

            <a href="<%= contacts_path(filters: {status: ['Partner - Financial'], pledge_received: false}) %>"
               class="dash-stat">
              <span class="count-big">
                <%= current_account_list.contacts.financial_partners.where(pledge_received: false).count %>
              </span> <%= _('first gift not received') %>
            </a>

            <% [30, 60].each do |days| %>
              <% contacts = current_account_list.contacts
                 contacts = days == 30 ? contacts.late_by(31.days, 60.days) : contacts.late_by(61.days) %>
              <a href="#" class="dash-stat late-partners-count">
                <%= (_('<span class="count-big">%{contact_count}</span> partners '+
                       '<strong>%{days}</strong> days late').localize %
                         { contact_count: contacts.count, days: days }).html_safe %>
              </a>
            <% end %>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="panel panel-default dash-panel">
          <div class="panel-heading">
            <%= _('Care') %>
            <%= link_to('+ '+_('Log Prayer Letter'),
                        new_task_path(completed: true, activity_type: 'Newsletter'),
                        class: 'badge badge-blue badge-right-well add_task', remote: true) %>
          </div>
          <div class="panel-body">
            <div class="dash-stat">
              <% current_account_list.tasks.completed.of_type('Newsletter').first.tap do |newsletter| %>
                <% if newsletter %>
                  <span class="count-big"><%= _(time_ago_in_words(newsletter.completed_at)) %></span> <%= _('since your last prayer letter') %>
                <% else %>
                  <%= _("You've never logged a prayer letter") %>
                <% end %>
              <% end %>
            </div>
            <%= render('birthdays_and_anniversaries')%>
          </div>
        </div>
      </div>

    </div>

    <section id="dash-progress" ng-controller="progressController as progress">
      <div class="page-filters-plain">
        <div class="row">
          <div class="col-md-6 col-sm-4">
            <h3>
              <%= _('Progress') %>
            </h3>
          </div>
          <div class="col-md-6 col-sm-8 text-right">
            <span class="normal-weight ng-cloak">
              {{progress.start_date | date:'MMM d'}} — {{progress.end_date | date:'MMM d'}}
              <button class="previous_page btn btn-default btn-sm" title="<%= _('Previous') %>" ng-click="progress.previousWeek()">
                <i class="fa fa-chevron-left"></i>
              </button>
              <button class="next_page btn btn-default btn-sm" title="<%= _('Next') %>" ng-click="progress.nextWeek()">
                <i class="fa fa-chevron-right"></i>
              </button>
            </span>

            <% if current_user.organization_accounts.where(organization_id: Organization.cru_usa.try(:id)).any? %>
                <%= link_to(_('Weekly Progress Report'),
                            'https://staffweb.cru.org/mpd-donations/reports/mpd-weekly-update/',
                            target: '_blank', class: 'btn btn-sm btn-default btn-blue') %>
            <% end %>

          </div>

        </div>
      </div>
      <div class="row ng-cloak">
        <div class="col-md-8">
          <div class="well">
            <div class="progress-box-title"><i class="fa fa-users"></i> <%= _('Contacts') %></div>
            <div class="progress-stat">
              <a href="<%= contacts_path(filters: { status: Api::V1::ProgressController::ACTIVE_STATUSES_FOR_STAT }) %>">
                <span class="count-big">{{progress.data.contacts.active}}</span>
                <%= _('Active') %>
              </a>
            </div>
            <div class="progress-stat">
              <a href="<%= contacts_path(filters: { referrer: '*', status: Contact::IN_PROGRESS_STATUSES }) %>">
                <span class="count-big">{{progress.data.contacts.referrals_on_hand}}</span>
                <%= _('Referrals On-hand') %>
              </a>
            </div>
            <div class="progress-stat">
              <span class="count-big">{{progress.data.contacts.referrals}}</span> <%= _('Gained') %>
            </div>
          </div>
          <div class="well">
            <div class="progress-box-title"><i class="fa fa-mobile"></i> <%= _('Phone Dials') %></div>
            <div class="progress-stat">
              <span class="count-big">{{progress.data.phone.attempted + progress.data.phone.completed}}</span>
              <%= _('Outgoing') %>
            </div>
            <div class="progress-stat">
              <span class="count-big">{{progress.data.phone.completed + progress.data.phone.recieved}}</span>
              <%= _('Talked To') %>
            </div>
            <div class="progress-stat">
              <span class="count-big">{{progress.data.phone.appointments}}</span>
              <%= _('Appointments Produced') %>
            </div>
            <ul class="plain-list">
              <li><%= _('Completed') %>: {{progress.data.phone.completed}}</li>
              <li><%= _('Attempted') %>: {{progress.data.phone.attempted}}</li>
              <li><%= _('Received') %>: {{progress.data.phone.received}}</li>
            </ul>
          </div>
          <div class="well">
            <div class="progress-box-title"><i class="fa fa-desktop"></i> <%= _('Electronic Contacts') %></div>
            <div class="progress-stat">
              <span class="count-big">{{progress.data.electronic.sent}}</span> <%= _('Sent') %>
            </div>
            <div class="progress-stat">
              <span class="count-big">{{progress.data.electronic.received}}</span> <%= _('Received') %>
            </div>
            <div class="progress-stat">
              <span class="count-big">{{progress.data.electronic.appointments}}</span>
              <%= _('Appointments Produced') %>
            </div>
            <ul class="plain-list">
              <li>
                <%= _('Email') %>: {{progress.data.email.sent}} <%= _('Sent') %> /
                {{progress.data.email.received}} <%= _('Received') %>
              </li>
              <li>
                <%= _('Facebook') %>: {{progress.data.facebook.sent}} <%= _('Sent') %> /
                {{progress.data.facebook.received}} <%= _('Received') %>
              </li>
              <li>
                <%= _('Text Message') %>: {{progress.data.text_message.sent}} <%= _('Sent') %> /
                {{progress.data.text_message.received}} <%= _('Received') %>
              </li>
            </ul>
          </div>
          <div class="well">
            <div class="progress-box-title"><i class="fa fa-envelope-o"></i> <%= _('Correspondence') %></div>
            <div class="progress-stat">
              <span class="count-big">{{progress.data.correspondence.precall}}</span> <%= _('Pre-call Letters') %>
            </div>
            <div class="progress-stat">
              <span class="count-big">{{progress.data.correspondence.support_letters}}</span> <%= _('Support Letters') %>
            </div>
            <div class="progress-stat">
              <span class="count-big">{{progress.data.correspondence.thank_yous}}</span> <%= _('Thank You Notes') %>
            </div>
            <div class="progress-stat">
              <span class="count-big">{{progress.data.correspondence.reminders}}</span> <%= _('Reminders') %>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="well">
            <div class="progress-box-title"><i class="fa fa-calendar"></i> <%= _('Appointments') %></div>
            <div class="progress-stat">
              <span class="count-big">{{progress.data.appointments.completed}}</span> <%= _('Completed') %>
            </div>
          </div>

          <div class="">
            <div class="panel panel-default dash-panel">
              <div class="panel-heading">
                <%= _('Appeals') %>
              </div>
              <appeals-list class="panel-body"></appeals-list>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
<task-followup-dialog id="task-followup-dialog"></task-followup-dialog>
<div id="generic_dialog"></div>
<%= render 'home/late_partners_dialog' %>
<%= render 'tasks/results_modal' %>
