<div ng-show="!vm.preferences.loading">
  <div id="contentbody" class="withleft">
    <div class="wpp">
      <div class="row">
        <div class="col-md-12">
          <div class="page-filters">
            <h2><%= _('Preferences') %></h2>
          </div>
        </div>
      </div>
      <form>
        <div class="row spacer-top"></div>
        <div class="panel-group">
          <div class="panel panel-default pref-panel">
            <div class="panel-heading pref-head" ng-click="vm.setTab('first_name')">
              <div class="row">
                <div class="col-sm-4">
                  <i class="fa fa-angle-right" ng-class="{ 'fa-rotate-90' : vm.tabSelected('first_name') }"></i>
                  <%= _('First Name') %>
                </div>
                <div class="col-sm-6 pref-current">
                  {{vm.preferences.data.first_name}}
                </div>
                <div class="col-sm-2 text-right">
                  <span class="panel-open-btn"><span ng-hide="vm.tabSelected('first_name')"><%= _('Expand') %></span><span ng-show="vm.tabSelected('first_name')"><%= _('Close') %></span></span>
                </div>
              </div>
            </div>
            <div class="panel-animate" ng-show="vm.tabSelected('first_name')">
              <div class="panel-body pref-body">
                <div class="row pref-row">
                  <div class="col-md-8 col-md-offset-4">
                    <div class="form-group">
                      <%= label :first_name, _('Your first name') %>
                      <%= text_field_tag :first_name, '', class: 'form-control', 'ng-model' => 'vm.preferences.data.first_name' %>
                    </div>
                    <button type="submit" ng-click="vm.save()" ng-disabled="vm.saving" class="btn btn-primary btn-actionable"><%= _('Save') %>&nbsp;<div class="btn-progress" ng-show="vm.saving"><i class="fa fa-circle-o-notch fa-spin fa-fw"></i></div></button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="panel panel-default pref-panel">
            <div class="panel-heading pref-head" ng-click="vm.setTab('last_name')">
              <div class="row">
                <div class="col-sm-4">
                  <i class="fa fa-angle-right" ng-class="{ 'fa-rotate-90' : vm.tabSelected('last_name') }"></i>
                  <%= _('Last Name') %>
                </div>
                <div class="col-sm-6 pref-current">
                  {{vm.preferences.data.last_name}}
                </div>
                <div class="col-sm-2 text-right">
                  <span class="panel-open-btn"><span ng-hide="vm.tabSelected('last_name')"><%= _('Expand') %></span><span ng-show="vm.tabSelected('last_name')"><%= _('Close') %></span></span>
                </div>
              </div>
            </div>
            <div class="panel-animate" ng-show="vm.tabSelected('last_name')">
              <div class="panel-body pref-body">
                <div class="row pref-row">
                  <div class="col-md-8 col-md-offset-4">
                    <div class="form-group">
                      <%= label :last_name, _('Your last name') %>
                      <%= text_field_tag :last_name, '', class: 'form-control', 'ng-model' => 'vm.preferences.data.last_name' %>
                    </div>
                    <button type="submit" ng-click="vm.save()" ng-disabled="vm.saving" class="btn btn-primary btn-actionable"><%= _('Save') %>&nbsp;<div class="btn-progress" ng-show="vm.saving"><i class="fa fa-circle-o-notch fa-spin fa-fw"></i></div></button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="panel panel-default pref-panel">
            <div class="panel-heading pref-head" ng-click="vm.setTab('email')">
              <div class="row">
                <div class="col-sm-4">
                  <i class="fa fa-angle-right" ng-class="{ 'fa-rotate-90' : vm.tabSelected('email') }"></i>
                  <%= _('Email Address') %>
                </div>
                <div class="col-sm-6 pref-current">
                  {{vm.preferences.data.email}}
                </div>
                <div class="col-sm-2 text-right">
                  <span class="panel-open-btn"><span ng-hide="vm.tabSelected('email')"><%= _('Expand') %></span><span ng-show="vm.tabSelected('email')"><%= _('Close') %></span></span>
                </div>
              </div>
            </div>
            <div class="panel-animate" ng-show="vm.tabSelected('email')">
              <div class="panel-body pref-body">
                <div class="row pref-row">
                  <div class="col-md-8 col-md-offset-4">
                    <div class="form-group">
                      <%= label :email, _('Email Address') %>
                      <%= text_field_tag :email, '', class: 'form-control', 'ng-model' => 'vm.preferences.data.email' %>
                    </div>
                    <button type="submit" ng-click="vm.save()" ng-disabled="vm.saving" class="btn btn-primary btn-actionable"><%= _('Save') %>&nbsp;<div class="btn-progress" ng-show="vm.saving"><i class="fa fa-circle-o-notch fa-spin fa-fw"></i></div></button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="panel panel-default pref-panel">
            <div class="panel-heading pref-head" ng-click="vm.setTab('time_zone')">
              <div class="row">
                <div class="col-sm-4">
                  <i class="fa fa-angle-right" ng-class="{ 'fa-rotate-90' : vm.tabSelected('time_zone') }"></i>
                  <%= _('Time zone') %>
                </div>
                <div class="col-sm-6 pref-current">
                  {{vm.preferences.data.time_zone}}
                </div>
                <div class="col-sm-2 text-right">
                  <span class="panel-open-btn"><span ng-hide="vm.tabSelected('time_zone')"><%= _('Expand') %></span><span ng-show="vm.tabSelected('time_zone')"><%= _('Close') %></span></span>
                </div>
              </div>

            </div>
            <div class="panel-animate" ng-show="vm.tabSelected('time_zone')">
              <div class="panel-body pref-body">
                <div class="row pref-row">
                  <div class="col-md-7 col-md-offset-4">
                    <div class="form-group">
                      <%= label :time_zone, _('Time zone') %>
                      <%= time_zone_select( "user", "time_zone", nil, { include_blank: true }, { class: 'form-control', 'ng-model' => 'vm.preferences.data.time_zone' }) %>
                    </div>
                    <button type="submit" ng-click="vm.save()" ng-disabled="vm.saving" class="btn btn-primary btn-actionable"><%= _('Save') %>&nbsp;<div class="btn-progress" ng-show="vm.saving"><i class="fa fa-circle-o-notch fa-spin fa-fw"></i></div></button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="panel panel-default pref-panel">
            <div class="panel-heading pref-head" ng-click="vm.setTab('locale')">
              <div class="row">
                <div class="col-sm-4">
                  <i class="fa fa-angle-right" ng-class="{ 'fa-rotate-90' : vm.tabSelected('locale') }"></i>
                  <%= _('Locale') %>
                </div>
                <div class="col-sm-6 pref-current">
                  {{vm.locale_string}}
                </div>
                <div class="col-sm-2 text-right">
                  <span class="panel-open-btn"><span ng-hide="vm.tabSelected('locale')"><%= _('Expand') %></span><span ng-show="vm.tabSelected('locale')"><%= _('Close') %></span></span>
                </div>
              </div>
            </div>
            <div class="panel-animate" ng-show="vm.tabSelected('locale')">
              <div class="panel-body pref-body">
                <div class="row pref-row">
                  <div class="col-md-8 col-md-offset-4">
                    <div class="form-group">
                      <%= label :locale, _('Language') %>
                      <%= select '', :locale, locale_select_options, {}, { class: 'form-control', 'ng-model' => 'vm.preferences.data.locale' } %>
                    </div>
                    <button type="submit" ng-click="vm.save()" ng-disabled="vm.saving" class="btn btn-primary btn-actionable"><%= _('Save') %>&nbsp;<div class="btn-progress" ng-show="vm.saving"><i class="fa fa-circle-o-notch fa-spin fa-fw"></i></div></button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="panel panel-default pref-panel">
            <div class="panel-heading pref-head" ng-click="vm.setTab('default_account_list')">
              <div class="row">
                <div class="col-sm-4">
                  <i class="fa fa-angle-right" ng-class="{ 'fa-rotate-90' : vm.tabSelected('default_account_list') }"></i>
                  <%= _('Default Account') %>
                </div>
                <div class="col-sm-6 pref-current">
                  {{vm.default_account_string}}
                </div>
                <div class="col-sm-2 text-right">
                  <span class="panel-open-btn"><span ng-hide="vm.tabSelected('default_account_list')"><%= _('Expand') %></span><span ng-show="vm.tabSelected('default_account_list')"><%= _('Close') %></span></span>
                </div>
              </div>
            </div>
            <div class="panel-animate" ng-show="vm.tabSelected('default_account_list')">
              <div class="panel-body pref-body">
                <div class="row pref-row">
                  <div class="col-md-8 col-md-offset-4">
                    <div class="form-group">
                      <%= label :default_account_list, _('Default Account List') %>
                      <%= select '', :default_account_list, current_user.account_lists.collect { |al| [al.name, al.id] }, {}, { class: 'form-control', 'ng-model' => 'vm.preferences.data.default_account_list' } %>
                    </div>
                    <button type="submit" ng-click="vm.save()" ng-disabled="vm.saving" class="btn btn-primary btn-actionable"><%= _('Save') %>&nbsp;<div class="btn-progress" ng-show="vm.saving"><i class="fa fa-circle-o-notch fa-spin fa-fw"></i></div></button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <h3>Account Settings</h3>
          </div>
        </div>
        <div class="panel-group">
          <div class="panel panel-default pref-panel">
            <div class="panel-heading pref-head" ng-click="vm.setTab('account_list_name')">
              <div class="row">
                <div class="col-sm-4">
                  <i class="fa fa-angle-right" ng-class="{ 'fa-rotate-90' : vm.tabSelected('account_list_name') }"></i>
                  <%= _('Account Name') %>
                </div>
                <div class="col-sm-6 pref-current">
                  {{vm.preferences.data.account_list_name}}
                </div>
                <div class="col-sm-2 text-right">
                  <span class="panel-open-btn"><span ng-hide="vm.tabSelected('account_list_name')"><%= _('Expand') %></span><span ng-show="vm.tabSelected('account_list_name')"><%= _('Close') %></span></span>
                </div>
              </div>
            </div>
            <div class="panel-animate" ng-show="vm.tabSelected('account_list_name')">
              <div class="panel-body pref-body">
                <div class="row pref-row">
                  <div class="col-md-8 col-md-offset-4">
                    <div class="form-group">
                      <%= label :account_list_name, _('Account Name') %>
                      <%= text_field_tag :account_list_name, '', class: 'form-control', 'ng-model' => 'vm.preferences.data.account_list_name' %>
                    </div>
                    <button type="submit" ng-click="vm.save()" ng-disabled="vm.saving" class="btn btn-primary btn-actionable"><%= _('Save') %>&nbsp;<div class="btn-progress" ng-show="vm.saving"><i class="fa fa-circle-o-notch fa-spin fa-fw"></i></div></button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="panel panel-default pref-panel">
            <div class="panel-heading pref-head" ng-click="vm.setTab('home_country')">
              <div class="row">
                <div class="col-sm-4">
                  <i class="fa fa-angle-right" ng-class="{ 'fa-rotate-90' : vm.tabSelected('home_country') }"></i>
                  <%= _('Home Country') %>
                </div>
                <div class="col-sm-6 pref-current">
                  {{vm.preferences.data.home_country}}
                </div>
                <div class="col-sm-2 text-right">
                  <span class="panel-open-btn"><span ng-hide="vm.tabSelected('home_country')"><%= _('Expand') %></span><span ng-show="vm.tabSelected('home_country')"><%= _('Close') %></span></span>
                </div>
              </div>
            </div>
            <div class="panel-animate" ng-show="vm.tabSelected('home_country')">
              <div class="panel-body pref-body">
                <div class="row pref-row">
                  <div class="col-md-8 col-md-offset-4">
                    <div class="form-group">
                      <%=  label :home_country, _('Home Country') %>
                      <%= country_select :preferences, :home_country, ['None'], {}, { class: 'country_select form-control', 'ng-model' => 'vm.preferences.data.home_country' } %>
                    </div>
                    <button type="submit" ng-click="vm.save()" ng-disabled="vm.saving" class="btn btn-primary btn-actionable"><%= _('Save') %>&nbsp;<div class="btn-progress" ng-show="vm.saving"><i class="fa fa-circle-o-notch fa-spin fa-fw"></i></div></button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="panel panel-default pref-panel">
            <div class="panel-heading pref-head" ng-click="vm.setTab('monthly_goal')">
              <div class="row">
                <div class="col-sm-4">
                  <i class="fa fa-angle-right" ng-class="{ 'fa-rotate-90' : vm.tabSelected('monthly_goal') }"></i>
                  <%= _('Monthly Goal') %>
                </div>
                <div class="col-sm-6 pref-current">
                  {{vm.preferences.data.monthly_goal}}
                </div>
                <div class="col-sm-2 text-right">
                  <span class="panel-open-btn"><span ng-hide="vm.tabSelected('monthly_goal')"><%= _('Expand') %></span><span ng-show="vm.tabSelected('monthly_goal')"><%= _('Close') %></span></span>
                </div>
              </div>
            </div>
            <div class="panel-animate" ng-show="vm.tabSelected('monthly_goal')">
              <div class="panel-body pref-body">
                <div class="row pref-row">
                  <div class="col-md-8 col-md-offset-4">
                    <div class="form-group">
                      <%= label :monthly_goal, _('Monthly goal') %>
                      <%= text_field_tag :monthly_goal, '', class: 'form-control', 'ng-model' => 'vm.preferences.data.monthly_goal' %>
                    </div>
                    <button type="submit" ng-click="vm.save()" ng-disabled="vm.saving" class="btn btn-primary btn-actionable"><%= _('Save') %>&nbsp;<div class="btn-progress" ng-show="vm.saving"><i class="fa fa-circle-o-notch fa-spin fa-fw"></i></div></button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <% if $rollout.active?(:currencies, current_account_list) %>
          <div class="panel panel-default pref-panel">
            <div class="panel-heading pref-head" ng-click="vm.setTab('currency')">
              <div class="row">
                <div class="col-sm-4">
                  <i class="fa fa-angle-right" ng-class="{ 'fa-rotate-90' : vm.tabSelected('currency') }"></i>
                  <%= _('Default Currency') %>
                </div>
                <div class="col-sm-6 pref-current">
                  {{vm.preferences.data.currency}}
                </div>
                <div class="col-sm-2 text-right">
                  <span class="panel-open-btn"><span ng-hide="vm.tabSelected('currency')"><%= _('Expand') %></span><span ng-show="vm.tabSelected('currency')"><%= _('Close') %></span></span>
                </div>
              </div>
            </div>
            <div class="panel-animate" ng-show="vm.tabSelected('currency')">
              <div class="panel-body pref-body">
                <div class="row pref-row">
                  <div class="col-md-8 col-md-offset-4">
                    <div class="form-group">
                      <%= label :currency, _('Default Currency') %>
                      <%= select :currency, '', currency_select, {}, { class: 'form-control', 'ng-model' => 'vm.preferences.data.currency' } %>
                    </div>
                    <button type="submit" ng-click="vm.save()" ng-disabled="vm.saving" class="btn btn-primary btn-actionable"><%= _('Save') %>&nbsp;<div class="btn-progress" ng-show="vm.saving"><i class="fa fa-circle-o-notch fa-spin fa-fw"></i></div></button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <% end %>
          <% if $rollout.active?(:multi_currency_balance, current_account_list) %>
          <% if current_account_list.designation_organizations.count > 1 %>
          <div class="panel panel-default pref-panel">
            <div class="panel-heading pref-head" ng-click="vm.setTab('salary_organization_id')">
              <div class="row">
                <div class="col-sm-4">
                  <i class="fa fa-angle-right" ng-class="{ 'fa-rotate-90' : vm.tabSelected('salary_organization_id') }"></i>
                  <%= _('Primary Organization') %>
                </div>
                <div class="col-sm-6 pref-current">
                  {{vm.salary_organization_string}}
                </div>
                <div class="col-sm-2 text-right">
                  <span class="panel-open-btn"><span ng-hide="vm.tabSelected('salary_organization_id')"><%= _('Expand') %></span><span ng-show="vm.tabSelected('salary_organization_id')"><%= _('Close') %></span></span>
                </div>
              </div>
            </div>
            <div class="panel-animate" ng-show="vm.tabSelected('salary_organization_id')">
              <div class="panel-body pref-body">
                <div class="row pref-row">
                  <div class="col-md-8 col-md-offset-4">
                    <div class="form-group">
                      <%= label :salary_organization_id, _('Primary Organization') %>
                      <%= select :salary_organization_id, '', salary_organization_select(current_account_list), {}, { class: 'form-control', 'ng-model' => 'vm.preferences.data.salary_organization_id' } %>
                    </div>
                    <button type="submit" ng-click="vm.save()" ng-disabled="vm.saving" class="btn btn-primary btn-actionable"><%= _('Save') %>&nbsp;<div class="btn-progress" ng-show="vm.saving"><i class="fa fa-circle-o-notch fa-spin fa-fw"></i></div></button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <% end %>
          <% end %>
          <div class="panel panel-default pref-panel">
            <div class="panel-heading pref-head" ng-click="vm.setTab('tester')">
              <div class="row">
                <div class="col-sm-4">
                  <i class="fa fa-angle-right" ng-class="{ 'fa-rotate-90' : vm.tabSelected('tester') }"></i>
                  <%= _('Early Adopter') %>
                </div>
                <div class="col-sm-6 pref-current">
                  {{vm.preferences.data.tester}}
                </div>
                <div class="col-sm-2 text-right">
                  <span class="panel-open-btn"><span ng-hide="vm.tabSelected('tester')"><%= _('Expand') %></span><span ng-show="vm.tabSelected('tester')"><%= _('Close') %></span></span>
                </div>
              </div>
            </div>
            <div class="panel-animate" ng-show="vm.tabSelected('tester')">
              <div class="panel-body pref-body">
                <div class="row pref-row">
                  <div class="col-md-8 col-md-offset-4">
                    <label><%= check_box :tester, '', 'ng-model' => 'vm.preferences.data.tester' %> <%= _('Early adopter') %></label>
                    <p>
                      By checking this box, you are telling us that you'd like to test new features for bugs before they are
                      rolled out to the full MPDx user base. We'll send you an email when new features are available on your
                      account to test, and then ask for you to give us feedback - both if you experience bugs and also about
                      your thoughts about the feature(s) you are testing.
                    </p>
                    <button type="submit" ng-click="vm.save()" ng-disabled="vm.saving" class="btn btn-primary btn-actionable"><%= _('Save') %>&nbsp;<div class="btn-progress" ng-show="vm.saving"><i class="fa fa-circle-o-notch fa-spin fa-fw"></i></div></button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="page-filters page-filters-close">
              <div class="pull-right">
                <button class="btn btn-link" id="preference_reset_welcome"><%= _('Reset Welcome Tour') %></button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
