<div ng-show="!vm.preferences.loading">
  <div id="contentbody" class="withleft">
    <div class="wpp">
      <div class="row">
        <div class="col-md-12">
          <div class="page-filters">
            <h2><%= _('Networks & Imports') %></h2>
          </div>
        </div>
      </div>
      <p>&nbsp;</p>
      <div class="panel-group" id="accounts-group">
        <% %w[csv tnt].each do |provider| %>
          <div class="panel panel-default pref-panel">
            <div class="panel-heading pref-head" ng-click="vm.setTab('<%= provider %>')">
              <i class="fa fa-angle-right" ng-class="{ 'fa-rotate-90' : vm.tabSelected('<%= provider %>') }"></i>
              <% if provider == 'tnt' %>
                TntConnect
              <% elsif provider == 'csv' %>
                Excel and CSV File
              <% end %>
              <div class="pull-right pref-head-desc">
                <% if provider == 'tnt' %>
                  Import Contacts from TntConnect
                <% elsif provider == 'csv' %>
                  Import Contacts from Excel or Pages
                <% end %>
              </div>
            </div>
            <div class="panel-animate" ng-show="vm.tabSelected('<%= provider %>')">
              <div class="panel-body pref-body">
                <div class="row pref-row">
                  <div class="col-md-4 pref-lead">
                    <div class="network_logo">
                      <% if provider == 'tnt' %>
                        <%= image_tag("logos/tnt_logo.png", alt: 'TntConnect') %>TntConnect
                      <% elsif provider == 'csv' %>
                        .CSV File
                      <% end %>
                    </div>
                  </div>
                  <div class="col-md-8 connections" data-behavior="account">
                      <div class="network_button">
                        <div class="importoptions" data-behavior="import_options">
                          <%= render "angular/preferences/networks/#{provider}_import_form" %>
                        </div>
                      </div>
                  </div>
                </div><!-- //pref-row -->
              </div><!-- //pref-body -->
            </div><!-- //panel-collapse -->
          </div><!-- //pref-panel -->
        <% end %>
        <% %w(google facebook key organization).each do |provider| %>
          <% if provider != 'facebook' %>
          <div class="panel panel-default pref-panel">
            <div class="panel-heading pref-head" ng-click="vm.setTab('<%= provider %>')">
              <i class="fa fa-angle-right" ng-class="{ 'fa-rotate-90' : vm.tabSelected('<%= provider %>') }"></i>
              <%= provider %>
              <div class="pull-right">
              <!-- Title Meta / Indicator -->
              </div>
            </div>
            <div class="panel-animate" ng-show="vm.tabSelected('<%= provider %>')">
              <div class="panel-body pref-body">
                <div class="row pref-row">
                  <div class="col-md-4 pref-lead">
                    <div class="network_logo">
                      <%= image_tag("logos/#{provider}_logo.png", alt: provider) %>
                    </div>
                  </div>
                  <div class="col-md-8 connections">
                      <div class="network_button">
                        <!-- Desc -->
                        <%= render 'angular/preferences/networks/network_connections', provider: provider, actions: true %>
                        <div class="network_button">
                          <%= auth_link(provider) %>
                        </div>
                      </div>
                  </div>
                </div><!-- //pref-row -->
              </div><!-- //pref-body -->
            </div><!-- //panel-collapse -->
          </div><!-- //pref-panel -->
          <% end %>
        <% end %>
      </div>
      <div id="new_org_account" style="display:none" title="<%= _('Connect to your organization') %>">
        <div id="account_list" style="<% current_user.organization_accounts.blank? ? '' : 'display:none' %>">
          <%= select_tag(:organization_id, options_for_select(Organization.active.order('name').collect {|o| [o.name, o.id]}), include_blank: true) %>
          <%= link_to(_('Connect to selected organization'), new_person_organization_account_path, class: 'btn btn-primary btn-xs', id: 'connect_to_org') %>
        </div>
      </div>
      <div id="org_connection_box"></div>
      <div id="org_error_modals_container"></div>
    </div>
  </div>
</div>
