<div ng-show="!vm.preferences.loading">
  <div id="contentbody" class="withleft">
    <div class="wpp">
      <div class="row">
        <div class="col-md-12">
          <div class="page-filters">
            <h2><%= _('Notifications') %></h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="row spacer-top">
            <div class="col-md-12">
              <p>
                <%= _("Based on an analysis of a partner's giving history, MPDX can notify you "+
                      "of events that you will probably want to follow up on. The detection logic "+
                      "is based on a set of rules that are right most of the time, but you will "+
                      "still want to verify an event manually before contacting the partner.") %>
              </p>
              <p><%= _("For each event MPDX can notify you via email and also create a task entry "+
                       "reminding you to do something about it. The options below allow you to "+
                       "control that behavior.") %></p>
              <br />
            </div>
          </div>
          <div class="panel panel-default pref-panel">
              <div class="panel-heading">
                <%= _("Select the types of notifications you'd like to receive.") %>
              </div>
              <ul class="list-group">
              <% NotificationType.all.each do |notification_type| %>
              <% field_name = notification_type.class.to_s.split('::').last.to_s.underscore.to_sym %>
              <% next if !$rollout.active?(:missing_info_notifications, current_account_list) && notification_type.type.in?(['NotificationType::MissingEmailInNewsletter', 'NotificationType::MissingAddressInNewsletter']) %>
                    <li class="list-group-item">
                      <div class="row pref-row">
                        <div class="col-md-8">
                          <%= _(notification_type.description) %>
                        </div>
                        <div class="col-md-4 text-right pref-lead">
                          <div class="form-group">
                            <label class="checkbox-inline">
                              <%= check_box_tag "preference_set[#{field_name}][actions][]", 'email', '', 'ng-checked' => "vm.preferences.data.#{field_name}.actions.indexOf('email') != -1", 'ng-click' => "vm.preferences.toggleNotification('#{field_name}', 'email')" %>
                              <%= _('Email me') %>
                            </label>
                            <label class="checkbox-inline">
                              <%= check_box_tag "preference_set[#{field_name}][actions][]", 'task', '', 'ng-checked' => "vm.preferences.data.#{field_name}.actions.indexOf('task') != -1", 'ng-click' => "vm.preferences.toggleNotification('#{field_name}', 'task')" %>
                              <%= _('Create a task') %>
                            </label>
                          </div>
                        </div>
                      </div>
                    </li>
              <% end %>
              </ul>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="page-filters page-filters-close">
                <button type="submit" ng-click="vm.save()" ng-disabled="vm.saving" class="btn btn-primary btn-actionable"><%= _('Save Preferences') %>&nbsp;<div class="btn-progress" ng-show="vm.saving"><i class="fa fa-circle-o-notch fa-spin fa-fw"></i></div></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
