<aside id="leftmenu">
  <ul class="nav nav-pills nav-stacked">
    <li ui-sref-active="active">
      <a ui-sref="personal"><%= _('Preferences') %></a>
    </li>
    <li ui-sref-active="active">
      <a ui-sref="notifications"><%= _('Notifications') %></a>
    </li>
    <li ui-sref-active="active">
      <a ui-sref="networks"><%= _('Networks & Imports') %></a>
    </li>
    <li ui-sref-active="active">
      <a ui-sref="integrations"><%= _('Integrations') %></a>
    </li>
    <li>
      <%= link_to _('Accounts &amp; Sharing'), sharing_account_lists_path, target: '_self' %>
    </li>
  </ul>
  </ul>
</aside>
