<div class="duplicate_contacts">
  <% if @contact_sets.present? %>
      <h2><%=  _('Step 1 of 2: Merge duplicate contacts (giving units)') %></h2>
      <%= form_tag merge_contacts_path do %>
        <%= link_to(_('Select all duplicates'), '#', class: 'select_all', id: 'select_all') %>
          <p ><%= _('Toggle the radio buttons to change the person who will be the "winner" of the merge.
        All data from the "loser" of the merge will get copied into the "winner." No data will be lost.') %></p>
        <% @contact_sets.each do |set| %>
          <div class="duplicate_set">
            <% contact_ids = set.map(&:id) %>
            <%= contact_ids.class %>
            <%= _('Duplicates') %>
            <% set.sort_by { |c| -c.people.length }.each.with_index do |contact, index| %>
                <% contact_ids = set.map(&:id) %>
                <div class="contact">
                  <%= radio_button_tag 'dup_contact_winner['+ contact_ids.join(',') +']',contact.id,false,
                                       checked: (index==0) %>
                  <%= link_to( _(contact.name), contact_path(contact), target: '_blank')  %>
                </div>
            <% end %>
            <%= check_box_tag 'merge_sets[]', contact_ids.join(',') %>
            <%= _('Merge these contacts') %><br />
            <%= link_to(_('These are not duplicates'), not_duplicates_contacts_path(ids: contact_ids.join(',')),
                        remote: true, method: :put, data: {behavior: 'not_duplicates'}) %>
          </div>
        <% end %>
        <br/>
        <%= submit_tag _('Merge selected contacts'), class: 'btn desired_action' %>
      <% end %>
  <% elsif @people_sets.present? %>
      <h2><%=  _('Step 2 of 2: Merge duplicate people within contacts') %></h2>
      <%= form_tag merge_sets_people_path do %>
          <%= link_to(_('Select all duplicates'), '#', class: 'select_all') %>
          <p ><%= _('Toggle the radio buttons to change the person who will be the "winner" of the merge.
        All data from the "loser" of the merge will get copied into the "winner." No data will be lost.') %></p>
          <% @people_sets.sort_by { |ppl| ppl.person.id }.each do |dup| %>
              <% person_and_dup_ids = [dup.person.id,dup.dup_person.id].map{ |d| d} %>
              <div class="duplicate_set">
                <div class="contact-header "><%= link_to(dup.shared_contact.name, contact_path(dup.shared_contact), target: '_blank')  %></div>
                <div class="person"><%= radio_button_tag 'dup_person_winner['+ person_and_dup_ids.join(',') +']', dup.person.id, true%>
                  <%= dup.person %></div>
                <div class="person"><%= radio_button_tag 'dup_person_winner['+ person_and_dup_ids.join(',') +']', dup.dup_person.id %>
                  <%= dup.dup_person %></div>
                <%= check_box_tag 'merge_sets[]', person_and_dup_ids.join(',')  %>
                <%= _('Merge these people') %><br />
                <%= link_to(_('These are not duplicates'), not_duplicates_people_path(ids: person_and_dup_ids.join(',')),
                            remote: true, method: :put, data: {behavior: 'not_duplicates'}) %>
              </div>
          <% end %>
          <br/>
          <%= submit_tag _('Merge selected people'), class: 'btn desired_action' %>
      <% end %>
  <% else %>
      <%= _("We weren't able to detect any duplicates on your account.") %>
  <% end %>
</div>
