<div id="bulk_edit_modal" title="<%= _('Edit Fields') %>" style="display:none">
  <%= form_for Contact.new, url: bulk_update_contacts_path, method: :put, remote: true do |f| %>
    <%= hidden_field_tag :bulk_edit_contact_ids %>
    <%= render 'contacts/bulk_fields', f: f %>

    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <%= f.label :pledge_received, _('Commitment Received') %>
          <%= f.select :pledge_received, [[_('Yes'), 1], [_('No'), 0]], include_blank: true %>
        </div>
      </div>

      <div class="col-md-4">
        <div class="form-group">
          <%= f.label :pledge_currency, _('Commitment Currency') %>
          <%= f.select :pledge_currency, currency_select(), {include_blank: true}, {class: 'form-control'} %>
        </div>
      </div>
    </div>
  <% end %>
</div>
