<div id="explain_statuses_modal" style="display:none" title="<%= _('Contact Status Options') %>">
  <%= _('Active statuses (contacts appear by default in list)') %>
  <ul>
    <li><b><%= _('None') %></b>: <%= _('not catgorized by you yet') %></li> 
    <li><b><%= _('Never Contacted') %></b>: <%= _('not contacted yet') %></li> 
    <li><b><%= _('Ask in Future') %></b>: <%= _('you plan to ask them some time in the future') %></li>
    <li><b><%= _('Cultivate Relationship') %></b>: <%= _('building more relationship before asking') %></li>
    <li><b><%= _('Contact for Appointment') %></b>: <%= _('in the process of setting up an MPD appointment') %></li>
    <li><b><%= _('Appointment Scheduled') %></b>: <%= _('MPD appointment is set') %></li>
    <li><b><%= _('Call for Decision') %></b>: <%= _('following up for an MPD decision') %></li>
    <li><b><%= _('Partner - Financial') %></b>:  <%= _('committed to ongoing financial support at a specific level') %></li>
    <li><b><%= _('Partner - Special') %></b>: <%= _('makes special gifts but not committed to a specific ongoing amount') %></li>
    <li><b><%= _('Partner - Pray') %></b>: <%= _('prays for your ministry but does not give financially') %></li>
  </ul>

  <%= _('Hidden statuses (contacts only appear if you select status or "All Hidden" in filter)') %>
  <ul>
    <li><b><%= _('Not Interested') %></b>: <%= _('expressed a choice to not partner with your ministry') %></li>
    <li><b><%= _('Unresponsive') %></b>: <%= _('has not answered or replied to repeated contact attempts') %></li>
    <li><b><%= _('Never Ask') %></b>: <%= _('you have intentionally chosen to not ask for financial support') %></li>
    <li><b><%= _('Research Abandoned') %></b>: <%= _('you tried but did not find a way to contact this person') %></li>
    <li><b><%= _('Expired Referral') %></b>: <%= _("too long has passed so it is no longer appropriate to use the referrer's name") %></li>
  </ul>
</div>
