<h3><%= _("Task scheduled for #{ l(@task.start_at) }:") %></h3>
<%= @task.subject %>
<br>
<%= _('You are getting this notification from MPDX because you selected the notification option on your task details.') %>
<br>

<% if @task.contacts.length > 0 %>
  <h5><%= _('Contacts') %></h5>
  <% @task.contacts.each do |contact| %>
    <a href="<%= WebRouter.contact_url(contact, 'tasks') %>"><%= contact.name %></a>
    <br>
  <% end %>
<% end %>
<% if @task.activity_type %>
  <h5><%= _('Action') %></h5>
  <%= @task.activity_type %>
  <br>
<% end %>
<% if @task.location %>
  <h5><%= _('Location') %></h5>
  <%= @task.location %>
  <br>
<% end %>
<% if @task.tags.length > 0 %>
  <h5><%= _('Tags') %></h5>
  <%= @task.tags.map(&:name).join(' | ') %>
  <br>
<% end %>
<% if @task.comments.length > 0 %>
  <h5><%= _('Comments') %></h5>
  <% @task.comments.each do |comment| %>
    <%= comment.body %>
    <br>
    <small><%= "#{comment.person.first_name} #{comment.person.last_name}".strip %></small>
    <br>
  <% end %>
<% end %>
