<h3><%= _('Notifications / Alerts') %></h3>
<p>
  <%= _("Based on an analysis of a partner's giving history, MPDX can notify you "+
        "of events that you will probably want to follow up on. The detection logic "+
        "is based on a set of rules that are right most of the time, but you will "+
        "still want to verify an event manually before contacting the partner.") %>
</p>
<p><%= _("For each event MPDX can notify you via email and also create a task entry "+
         "reminding you to do something about it. The options below allow you to "+
         "control that behavior.") %></p>

<% NotificationType.all.each do |notification_type| %>
  <% field_name = notification_type.class.to_s.split('::').last.to_s.underscore.to_sym %>
  <% next if !$rollout.active?(:missing_info_notifications, current_account_list) &&
    notification_type.type.in?(['NotificationType::MissingEmailInNewsletter',
                                'NotificationType::MissingAddressInNewsletter']) %>
  <div class="form-group">
    <%= f.label field_name, _(notification_type.description) %>
    <label class="checkbox-inline">
      <%= check_box_tag "preference_set[#{field_name}][actions][]", 'email', f.object.send(field_name).include?('email') %>
      <%= _('Email me') %>
    </label>
    <label class="checkbox-inline">
      <%= check_box_tag "preference_set[#{field_name}][actions][]", 'task', f.object.send(field_name).include?('task') %>
      <%= _('Create a task') %>
    </label>
    <%= hidden_field_tag "preference_set[#{field_name}][actions][]", '' %>
  </div>
<% end %>
