<div class="row">
  <div class="col-md-3" role="complementary">
    <%= render 'settings_sidebar' %>
  </div>
  <div class="col-md-9">
    <div id="contentbody" class="withleft">
      <div class="wpp">
        <div class="row">
          <div class="col-md-12">
            <div class="page-filters">
              <h2><%= _('Preferences') %></h2>
            </div>
          </div>
        </div>
        <%= form_for @preference_set, url: preference_path(current_user), method: :put do |f| %>
            <%= f.hidden_field :setup %>
            <div class="row spacer-top">
              <div class="col-md-12">
                <h3><%= _('About you') %></h3>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <%= f.label :first_name, _('Your first name') %>
                  <%= f.text_field :first_name, class: 'form-control' %>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <%= f.label :email, _('Preferred Email Address') %>
                  <%= f.text_field :email, class: 'form-control' %>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <%= f.label :time_zone, _('Time zone') %>
                  <%= f.time_zone_select :time_zone, nil, {}, {:class => 'form-control'} %>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <%= f.label :locale, _('Language') %>
                  <%= f.select :locale, TwitterCldr::Shared::Languages.all_for(locale)
                              .select { |k, _| TwitterCldr.supported_locales.include?(k) }.invert,
                              {selected: locale}, {class: 'form-control'} %>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <h3><%= _('Account Settings') %></h3>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <%= f.label :monthly_goal, _('Monthly goal') %>
                  <%= f.text_field :monthly_goal, class: 'form-control' %>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <%= f.label :default_account_list, _('Default Account List') %>
                  <%= f.select :default_account_list, current_user.account_lists.collect { |al| [al.name, al.id] }, {},
                               {class: 'form-control'} %>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <%=  f.label _('Home Country') %>
                  <%= f.country_select :home_country, ['None'], {},
                                   {class: 'country_select form-control'} %>
                </div>
              </div>
              <% if $rollout.active?(:currencies, current_account_list) %>
              <div class="col-md-6">
                  <div class="form-group">
                      <%=  f.label _('Default Currency') %>
                      <%= f.select :currency, TwitterCldr::Shared::Currencies.currency_codes,
                                   {prompt: current_currency ? current_currency : 'USD'}, {class: 'form-control'} %>
                  </div>
              </div>
              <% end %>
            </div>

            <div class="row">
              <div class="col-md-12">
                <%= render 'notification_settings_form', f: f %>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <div class="well">
                  <div class="form-group">
                    <label>
                      <%= f.check_box :tester %> <%= _('Early adopter') %>
                    </label>
                  </div>
                  <p><small>
                    By checking this box, you are telling us that you'd like to test new features for bugs before they are
                    rolled out to the full MPDx user base. We'll send you an email when new features are available on your
                    account to test, and then ask for you to give us feedback - both if you experience bugs and also about
                    your thoughts about the feature(s) you are testing.
                  </small></p>
                </div>
              </div>
            </div>
            <div class="row spacer-bottom">
              <div class="col-md-12">
                <button class="btn btn-secondary" id="preference_reset_welcome"><%= _('Reset Welcome Tour') %></button>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <div class="page-filters page-filters-close">
                  <%= f.submit _('Save Preferences'), class: 'btn btn-primary btn-default' %>
                </div>
              </div>
            </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
