<div class="row">
  <div class="col-md-3" role="complementary">
    <%= render 'settings_sidebar' %>
  </div>
  <div class="col-md-9">
    <div id="contentbody" class="withleft">
      <div class="wpp">
        <%= image_tag('logos/google_logo_high_res.png', width: '150px') %><br />
        <h5><%= (_('You are currently editing settings for %{account}').localize % { account: "<strong>#{@google_integration.google_account}</strong>" }).html_safe %></h5>
        <div>
          <div class="well">
            <%= render 'calendar_integration', google_integration: @google_integration %>
          </div>

          <div class="well">
            <h2><%= _('Gmail integration') %></h2>

            <% if @google_integration.email_integration? %>
              <%= _("Gmail integration has been enabled.") %>
              <br/><br/>
              <%= link_to(_('Disable Gmail Integration'), google_integration_path(@google_integration, google_integration: { email_integration: false }), method: :put,
                            class: 'btn', data: { confirm: _('Are you sure you want to disable Gmail integration?') }) %>
              <%= link_to(_('Sync Now'), sync_google_integration_path(@google_integration, integration: 'email'), class: 'btn btn-secondary desired_action') %>
            <% else %>
              <%= _("MPDX can automatically update your MPDX task history based on emails you've sent
                    or received to/from your contacts in your Gmail account.") %>
              <br/><br/>
              <%= link_to(_('Enable Gmail Integration'), google_integration_path(@google_integration, google_integration: { email_integration: true }), method: :put, class: 'btn btn-secondary desired_action') %>
            <% end %>
          </div>


          <% if $rollout.active?(:google_contacts_sync, current_account_list) %>
            <div class="well">
              <h2><%= _('Google Contacts integration') %></h2>

              <%= _("<p>MPDX can sync your active contacts to Google so you only have to keep your contacts up to date in one place.  (Active contacts are those whose status field indicates that they are partners or in the MPD process.)</p>

                    <p>This will synchronize existing contact information as well as future updates and deletions to your contact info to and from MPDX and Google. Once the sync is active, changes in either Google or MPDX will be reflected in the other system. If you make a change in both places between syncs, MPDx changes will take precedence.</p>

                    <p>If you make a contact inactive in MPDX e.g. by selecting \"Not Interested\" for its status, the contact info will not be deleted in Google, but will be labeled \"Inactive\" so you can easily find those no-longer-synced contacts and delete them if you choose.</p>

                    <p>If you delete a contact in Google contacts that is active in MPDX, you must also go in to MPDX and hide the contact, making it inactive in MPDX. Otherwise, it will get regenerated in Google once it syncs again.</p>") %>
                <p class="alert-warning text-center"><%= _("It is recommended that you backup your Google contacts as a CSV before enabling integration.") %> <a href="https://support.google.com/mail/answer/24911" target="_blank"><%= _("Learn how") %></a></p>
              <% if @google_integration.contacts_integration? %>
                  <%= _("Google Contacts sync has been enabled.") %>
                  <br/><br/>
                  <%= link_to(_('Disable Google Contacts integration'), google_integration_path(@google_integration, google_integration: { contacts_integration: false }), method: :put,
                              class: 'btn btn-secondary ', data: { confirm: _('Are you sure you want to disable Google Contacts sync?') }) %>
                  <%= link_to(_('Sync Now'), sync_google_integration_path(@google_integration, integration: 'contacts'), class: 'btn btn-secondary  desired_action') %>
              <% else %>
                  <%= link_to(_('Enable Google Contacts Integration'), google_integration_path(@google_integration, google_integration: { contacts_integration: true }), method: :put, class: 'btn btn-secondary  desired_action') %>
              <% end %>
            </div>
          <% end %>

          <div id='google_refresh'>
            <div class="well">
              <h2><%= _('Refresh Google Account') %></h2>

              <%= _('If the link between MPDx and your Google account breaks,
                    click the button below to re-establish the connection.') %>
              <br/>
              <%= _('(You should only need to do this if you receive an email from MPDx.)') %>
              <br/><br/>
              <%= link_to(_('Refresh Google Account'), new_account_path(provider: :google, redirect: google_integration_path(@google_integration)), class: 'btn btn-secondary desired_action') %>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
