<div ng-show="!vm.preferences.loading">
  <div ng-show="vm.showSettings">
    <div ng-if="vm.preferences.data.api_key && !vm.preferences.data.active && !vm.preferences.data.validate_key">
      {{vm.preferences.data.validation_error}}
    </div>
    <div class="form-group" ng-hide="vm.preferences.data.active">
      <%= link_to('http://www.gcx.org/mpdxhelp/sync-with-mailchimp/', target: '_blank') do %>
        <i class="fa fa-play-circle-o"></i>
        <%= _('Watch a video showing you how to link to Mailchimp') %>
      <% end %>
      <br />
      <%= label :mailchimp, :api_key, _('Api Key') %>
      <%= text_field_tag :mailchimp_api_key, '', class: 'form-control', 'ng-model' => 'vm.preferences.data.api_key' %>
    </div>
    <div class="form-group" ng-show="vm.preferences.data.active">
      <div ng-show="vm.preferences.data.lists_present">
        <div class="alert alert-warning" role="alert">
          <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
          <%= _('Please choose a list to sync with MailChimp. If select a list with existing subscribers, MPDX ' +
                'will add those contacts and set them to receive the email newsletter. If some of the subscribers ' +
                'already exist in MPDX, their email addresses will be added and they will be set to receive the email ' +
                'newsletter (or Both if they already get the physical letter).') %>
        </div>
        <div class="field">
          <%= label :mailchimp, :primary_list_id, _('Pick a list to use for your newsletter') %>
          <select name="mailchimp_primary_list_id" id="mailchimp_primary_list_id" ng-model="vm.preferences.data.primary_list_id" class="form-control">
            <option ng-repeat="option in vm.preferences.data.lists_available_for_newsletters" value="{{option.id}}">{{option.name}}</option>
          </select>
          <% if $rollout.active?(:mail_chimp_auto_log, current_account_list) %>
            <br />
            <%= check_box_tag :mailchimp_auto_log_campaigns, '', '', 'ng-model' => 'vm.preferences.data.auto_log_campaigns' %>
            <%= label :mailchimp, :auto_log_campaigns, _('Automatically log sent MailChimp campaigns in contact task history.') %>
          <% end %>
        </div>
      </div>
      <div ng-hide="vm.preferences.data.lists_present">
      <%= _('You need to create a list on Mail Chimp that MPDX can use for your newsletter.') %><br />
      <%= link_to(_('Go to Mail Chimp to create a list.'), '', 'ng-href' => '{{vm.preferences.data.lists_link}}', 'target' => '_blank') %>
      </div>
    </div>
    <div class="actions form-group">
      <button type="submit" ng-click="vm.save()" ng-disabled="vm.saving" class="btn btn-primary btn-actionable"><%= _('Save') %>&nbsp;<div class="btn-progress" ng-show="vm.saving"><i class="fa fa-circle-o-notch fa-spin fa-fw"></i></div></button>
      <a class="btn" ng-click="vm.hide()"><%= _('Cancel') %></a>
    </div>
  </div>
  <div ng-hide="vm.showSettings">
    <div ng-show="vm.preferences.data.active">
      <p>
        <%= _('You can now export your contacts to MailChimp.') %><br />
        <%= _('MailChimp API key:') %> <strong>{{vm.preferences.data.api_key}}</strong><br />
        <%= _('MailChimp list to use for your newsletter:') %> <strong>{{vm.preferences.data.primary_list_name}}</strong>
        <% if $rollout.active?(:mail_chimp_auto_log, current_account_list) %>
          <br /><%= _('Automatic logging of campaigns: ') %><strong>{{vm.preferences.data.auto_log_campaigns ? "<%= _('On') %>" : "<%= _('Off') %>"}}</strong>
        <% end %>
      </p>
      <p>
        <button type="submit" ng-click="vm.sync()" ng-disabled="vm.saving" class="btn btn-primary btn-actionable"><%= _('Sync Now') %>&nbsp;<div class="btn-progress" ng-show="vm.saving"><i class="fa fa-circle-o-notch fa-spin fa-fw"></i></div></button>
        <a class="btn btn-default" ng-click="vm.showSettings = true"><%= _('Modify Settings') %></a>
        <a class="btn btn-link" ng-click="vm.disconnect()"><%= _('Disconnect') %></a>
      </p>
    </div>
    <div ng-hide="vm.preferences.data.active">
      <p><%= _('You can synchronize MPDX and Mailchimp contacts to simplify your process and take advantage of all of Mailchimp\'s great features.') %></p>
      <a class="btn btn-primary" ng-click="vm.showSettings = true"><%= _('Enable') %></a>
    </div>
  </div>
</div>
