<h1>Get Help!</h1>

<div class="row">
  <div class="col-md-6">
    <h3 style="line-height: 1.25em;"><%== _('95.91543% of all help requests are answered on our %{link} in the form of a Video or FAQ. Get answers to your questions on our %{link} now.').localize % {link: link_to('MPDX Help Site', 'http://www.gcx.org/mpdxhelp/', target: '_blank')} %></h3>
    <div class="spacer-bottom">
      <a href="" class="btn btn-secondary btn-lg"><i class="fa fa-life-ring"></i> <%= _("Go to MPDX Help Site Now") %></a>
    </div>
  </div>
  <div class="col-md-6">
    <div class="well">
      <p>
        <%= _('Have a suggestion or a problem? Please fill out the form below.') %>
        <%= _('The more detail you are able to give us, the easier it will be for us to help you. Thanks!') %>
        <%== _('Before emailing us, please have a look at %{link} to see if your question is already answered there.').localize % {link: link_to('our MPDX Help Site', 'http://www.gcx.org/mpdxhelp/', target: '_blank')} %>
      </p>
    </div>
  </div>
</div>

<hr class="fullwidth" />

<%= form_for @help_request do |f| %>
  <div class="row">
    <% if @help_request.errors.any? %>
      <div id="error_explanation">
        <ul>
          <% @help_request.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="col-md-8 col-md-offset-2">
      <div class="form-group">
        <%= f.label :request_type, _("Short version of why you're emailing us") %>
        <%= f.text_field :request_type, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :name, _('Name') %>
        <%= f.text_field :name, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :email, _('Email') %>
        <%= f.text_field :email, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :problem, _('Problem / Suggestion / Question (Longer version)') %>
        <%= f.text_area :problem, rows: 8, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :file, _('If your problem is related to importing, please attach the file you are trying to upload.') %>
        <%= f.file_field :file, class: 'form-control' %>
        <%= f.hidden_field :file_cache %>
        <%= @help_request.file.filename if @help_request.file? %>
      </div>

      <div class="form-group">
        <%= f.submit _('Submit'), class: 'btn btn-primary' %>
      </div>
    </div>
  </div>
<% end %>