<b><%= _('Reset User') %></b>

<%= form_tag admin_reset_index_path, method: :post do |f| %>
  <div class="container">
    <div class="col-md-4">
      <%= label_tag :user_resetted_email, _('Key/Relay Email') %>
      <%= text_field_tag :impersonate_lookup, '', class: 'form-control' %>
    </div>
    <div class="col-md-4">
      <%= label_tag :reason, _('Reason / Support Ticket Link') %>
      <%= text_field_tag :reason, '', class: 'form-control' %>
    </div>
  </div>
  <br/>
  <div class="container">
    <div class="col-md-3">
    <%= submit_tag _('Reset User'), data: { confirm: 'Are you sure that you wish to reset this user. All of his data will be lost.' }, class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>
