<div class="north-star-report">
  <div id="north_star_graph"></div>
</div>

<script type="text/javascript" charset="utf-8">
  var weeks = ['<%== data.collect { |r| r['week'] }.join("', '") %>'];
  $(document).ready(function() {
    new Highcharts.Chart({
      title: {
        text: ''
      },
      chart: {
        renderTo: 'north_star_graph',
        height: 250
      },
      colors: ['#b9b9b9', '#f9b625'],
      xAxis: {
        categories: weeks,
        labels: {
          rotation: 60,
          y: 30}
      },
      yAxis: {
        min: 0,
        max: <%= data.collect { |r| r['users'] }.max %>,
        title: {
          text: '<%= _('Users') %>'
        }
      },
      legend: {
        enabled: false
      },
      series: [{
        name: '<%= _('Last Year') %>',
        data: [<%= data.collect { |r| r['old'] }.join(',') %>],
        type: 'column'
      }, {
        name: '<%= _('Users') %>',
        data: [<%= data.collect { |r| r['users'] }.join(',') %>],
        type: 'column'
      }]
    });
  });
</script>
