<h1 id="ui-id-7" class="ui-dialog-title"
      ng-bind="$ctrl.appeal.name || '<%= _("Nameless Appeal") %>'" style="display: none;"></h1>

<form class="form_wrapper">

  <div class="scroll">
    <div class="panel panel-action">
      <div class="panel-body">
        <div class="row">
            <div class="col-md-4 field">
                <label><%= _('Name') %></label>
                <input autofocus="autofocus" type="text" class="input-lg" ng-model="$ctrl.appeal.name">
            </div>

            <div class="col-md-4 field">
                <label><%= _('Goal') %></label>
                <input type="number" ng-model="$ctrl.appeal.amount" class="form-control input-lg" raw-number>
            </div>
        </div>
      </div>
    </div>

    <excluded-appeal-contacts appeal-id="{{$ctrl.id}}"></excluded-appeal-contacts>

    <div class="panel panel-default">
      <div class="panel-body">
        <div class="row">
          <div class="col-md-3 col-sm-6 col-xs-12">
            <%= _('Create tag for selected:') %>
            <div class="form-group">
              <div class="input-group">
                  <input type="text" class="form-control" ng-model="$ctrl.newTag">
                  <span class="input-group-btn">
                    <button class="btn btn-default" ng-if="!$ctrl.creatingTag"
                            ng-click="$ctrl.createTag($ctrl.newTag, $ctrl.checkedContacts)">
                      <%= _('Create') %>
                    </button>
                    <button class="btn btn-default" ng-if="$ctrl.creatingTag" disabled>
                      <%= _('Updating contacts') %>: {{$ctrl.creatingTag}} remaining...
                    </button>
                  </span>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12">
            <%= _('Create task for selected:') %>

            <div class="field">
              <label for="task_subject">Subject</label>
              <input id="task_subject" type="text" ng-model="$ctrl.task.subject" ng-disabled="$ctrl.creatingBulkTasks">
            </div>
            <div class="field">
              <label for="task_activity_type">Action</label>
              <select id="task_activity_type" class="form-control" ng-model="$ctrl.task.type"
                      ng-options="t as t for t in $ctrl.taskTypes" ng-disabled="$ctrl.creatingBulkTasks"></select>
            </div>
            <div class="field">
              <div class="form-inline">
                <div class="form-group">

                  <label>Due date</label>
                  <input ng-model="$ctrl.task.date" style="width:100px;" type="text" class="dueDatePicker"
                     ng-disabled="$ctrl.creatingBulkTasks">
                </div>
                <div class="form-group">
                  <label>&nbsp;</label>
                  <select ng-model="$ctrl.task.hour" class="form-control" ng-disabled="$ctrl.creatingBulkTasks">
                    <option value="00">12 AM</option>
                    <option value="01">01 AM</option>
                    <option value="02">02 AM</option>
                    <option value="03">03 AM</option>
                    <option value="04">04 AM</option>
                    <option value="05">05 AM</option>
                    <option value="06">06 AM</option>
                    <option value="07">07 AM</option>
                    <option value="08">08 AM</option>
                    <option value="09">09 AM</option>
                    <option value="10">10 AM</option>
                    <option value="11">11 AM</option>
                    <option value="12">12 PM</option>
                    <option value="13">01 PM</option>
                    <option value="14">02 PM</option>
                    <option value="15">03 PM</option>
                    <option value="16">04 PM</option>
                    <option value="17">05 PM</option>
                    <option value="18">06 PM</option>
                    <option value="19">07 PM</option>
                    <option value="20">08 PM</option>
                    <option value="21">09 PM</option>
                    <option value="22">10 PM</option>
                    <option value="23">11 PM</option>
                  </select> :
                </div>
                <div class="form-group">
                  <label>&nbsp;</label>
                  <select ng-model="$ctrl.task.min" class="form-control" ng-disabled="$ctrl.creatingBulkTasks">
                    <option value="00">00</option>
                    <option value="01">01</option>
                    <option value="02">02</option>
                    <option value="03">03</option>
                    <option value="04">04</option>
                    <option value="05">05</option>
                    <option value="06">06</option>
                    <option value="07">07</option>
                    <option value="08">08</option>
                    <option value="09">09</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                    <option value="13">13</option>
                    <option value="14">14</option>
                    <option value="15">15</option>
                    <option value="16">16</option>
                    <option value="17">17</option>
                    <option value="18">18</option>
                    <option value="19">19</option>
                    <option value="20">20</option>
                    <option value="21">21</option>
                    <option value="22">22</option>
                    <option value="23">23</option>
                    <option value="24">24</option>
                    <option value="25">25</option>
                    <option value="26">26</option>
                    <option value="27">27</option>
                    <option value="28">28</option>
                    <option value="29">29</option>
                    <option value="30">30</option>
                    <option value="31">31</option>
                    <option value="32">32</option>
                    <option value="33">33</option>
                    <option value="34">34</option>
                    <option value="35">35</option>
                    <option value="36">36</option>
                    <option value="37">37</option>
                    <option value="38">38</option>
                    <option value="39">39</option>
                    <option value="40">40</option>
                    <option value="41">41</option>
                    <option value="42">42</option>
                    <option value="43">43</option>
                    <option value="44">44</option>
                    <option value="45">45</option>
                    <option value="46">46</option>
                    <option value="47">47</option>
                    <option value="48">48</option>
                    <option value="49">49</option>
                    <option value="50">50</option>
                    <option value="51">51</option>
                    <option value="52">52</option>
                    <option value="53">53</option>
                    <option value="54">54</option>
                    <option value="55">55</option>
                    <option value="56">56</option>
                    <option value="57">57</option>
                    <option value="58">58</option>
                    <option value="59">59</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="form-group">
              <button class="btn btn-default" ng-click="$ctrl.createTask($ctrl.task, $ctrl.checkedContacts)" ng-show="!$ctrl.creatingBulkTasks">
                <%= _('Create') %>
              </button>
              <button class="btn btn-default" ng-show="$ctrl.creatingBulkTasks" disabled>
                <%= _('Creating tasks') %>: {{$ctrl.creatingBulkTasks}} remaining...
              </button>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12">
            <%= _('Export selected to CSV:') %>
            <div class="form-group">
              <button class="btn btn-default" ng-click="$ctrl.exportContactsToCSV($ctrl.checkedContacts)"><%= _('Export') %></button>
            </div>

            <div class="" ng-show="$ctrl.mail_chimp_account_present" >
              <div class="col-sm-4">
                <%= _('Export selected to a Mail Chimp list:') %>
              </div>
              <div class="col-sm-8">
                <div class="form-group">
                  <select class="form-control" ng-model="$ctrl.selected_mail_chimp_list"
                          ng-options="m.id as m.name for m in $ctrl.mail_chimp_lists" ></select>
                  <button class="btn btn-default"
                          ng-click="$ctrl.exportContactsToMailChimpList($ctrl.checkedContacts, $ctrl.selected_mail_chimp_list)">
                    <%= _('Export') %>
                  </button>
                  <div class="spacer"></div>
                  <div class="alert alert-warning" role="alert">
                    <span class="glyphicon glyphicon-exclamation-sign">
                      <%= _('You cannot use the MailChimp list you normally sync to for your newsletter, ' +
                            'as this one would overwrite it. Create a new list in MailChimp and choose ' +
                            'it in this drop down. Subsequent exports to it will overwrite previous ones.') %>
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="alert alert-success" role="alert"
                 id="appealListLoading" ng-show="$ctrl.mail_chimp_appeal_load_complete">
              <%=  _('Your Appeal Contacts are loading to MailChimp') %></div>
            <div class="row" ng-show="!$ctrl.mail_chimp_account_present">
              <div class="alert alert-warning" role="alert">
                 <span class="glyphicon glyphicon-exclamation-sign">
                    <%= _('If you want to export the selected contacts to MailChimp, connect your MailChimp ' +
                                  ' account in the') %> <%= link_to 'settings page', integrations_settings_path %>.
                 </span>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12">
            <%= _('Add contact') %>
            <div class="form-group">
              <select class="form-control" size="5" ng-model="$ctrl.newContact" ng-options="c.id as c.name for c in $ctrl.contacts"></select>
            </div>
            <div class="form-group">
              <button class="btn btn-default btn-block" ng-click="$ctrl.addContact($ctrl.newContact)"><%= _('Add') %></button>
            </div>
          </div>
        </div>
      </div>
      <div class="panel-footer">
          <button ng-click="$ctrl.save()" class="btn btn-primary"><%= _('Save') %></button>

          <button ng-click="$ctrl.delete()" class="btn btn-secondary"><%= _('Delete') %></button>

      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-body">
        <h3><%= _('Contacts') %></h3>
        <table class="table table-striped">
            <thead>
                <tr><td colspan="5" class="table_select_filters">
                  <label><%= _('Select') %></label>
                  <a href="" ng-click="$ctrl.selectAll('all')" class="btn btn-default btn-xs"><%= _('All') %></a>
                  <a href="" ng-click="$ctrl.selectAll('none')" class="btn btn-default btn-xs"><%= _('None') %></a>
                  <a href="" ng-click="$ctrl.selectAll('donated')" class="btn btn-default btn-xs"><%= _('All that have donated') %></a>
                  <a href="" ng-click="$ctrl.selectAll('!donated')" class="btn btn-default btn-xs"><%= _('All that have not donated') %></a>
                </td></tr>
                <tr>
                    <td style="width: 5px;"></td>
                    <td><%= _('Contact') %></td>
                    <td><%= _('Commitment') %></td>
                    <td style="width:24%;"><%= _('Donation(s)') %></td>
                    <td style="width:4%;"></td>
                </tr>
            </thead>
            <tbody>
              <tr ng-repeat="c in $ctrl.appeal.contacts | orderBy: $ctrl.contactName">
                <td class="table_select_check"><input type="checkbox" ng-model="$ctrl.checkedContacts[c]"></td>
                <td>{{ $ctrl.contactName(c) }}</td>
                <td>
                  <span ng-if="$ctrl.contactDetails(c).status === 'Partner - Financial'">
                    {{ $ctrl.contactDetails(c).pledge_amount | currency : $ctrl.contactDetails(c).pledge_currency_symbol}}
                    {{ $ctrl.contactDetails(c).pledge_frequency | pledgeFrequencyStr }}
                  </span>
                </td>
                <td><div ng-repeat="d in $ctrl.listDonations(c)">{{d}}</div></td>
                <td><a class="ico ico_trash" href ng-click="$ctrl.deleteContact(c)"><%= _('Delete') %></a></td>
              </tr>
              <tr>
                <td colspan="2"></td>
                <td style="text-align: right;">
                  Total USD: $5000<br/>
                  Total Pesos: $90000000000000<br/>
                  Total : @asdklfjaskldjfa<br/>
                  <strong>Total [MY CURRENCY]: $5001 USD</strong>

                </td>
                <td colspan="2">{{$ctrl.donationAggregates().sum | currency : current_currency_symbol}}</td>
              </tr>
              <tr>
                <td colspan="2"></td>
                <td style="text-align: right;"><strong>Average:</strong> </td>
                <td colspan="2">{{$ctrl.donationAggregates().average | currency : current_currency_symbol}}</td>
              </tr>
              <tr><td colspan="5" class="table_select_filters">
                  <label><%= _('Select') %></label>
                  <a href="" ng-click="$ctrl.selectAll('all')" class="btn btn-default btn-xs"><%= _('All') %></a>
                  <a href="" ng-click="$ctrl.selectAll('none')" class="btn btn-default btn-xs"><%= _('None') %></a>
                  <a href="" ng-click="$ctrl.selectAll('donated')" class="btn btn-default btn-xs"><%= _('All that have donated') %></a>
                  <a href="" ng-click="$ctrl.selectAll('!donated')" class="btn btn-default btn-xs"><%= _('All that have not donated') %></a>
                </td></tr>
            </tbody>
        </table>
        <span ng-show="!$ctrl.contacts"><%= _('Loading contacts...') %></span>
      </div>
    </div>
  </div>
</form>

