<div class="ui-dialog" style="width: 100%;">
    <div class="ui-dialog-titlebar ui-widget-header ui-corner-all ui-helper-clearfix">
        <span id="ui-id-7" class="ui-dialog-title" ng-bind="appeal.name"></span>
        <button type="button" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-icon-only ui-dialog-titlebar-close" title="close" ng-click="cancel()">
            <span class="ui-button-icon-primary ui-icon ui-icon-closethick"></span>
            <span class="ui-button-text"><%= _('close') %></span>
        </button>
    </div>
    <div class="modal-body ui-dialog-content ui-widget-content">
        <form>
            <div class="form_wrapper">
                <div class="field">
                    <label><%= _('Name') %></label>
                    <input autofocus="autofocus" type="text" ng-model="appeal.name">
                </div>

                <div class="field">
                    <label><%= _('Goal') %></label>
                    <input type="text" ng-model="appeal.amount">
                </div>

                <div style="height: 400px; overflow-y: auto; padding:0 15px;">
                    <label><%= _('Contacts') %></label>
                    <table style="width:100%;">
                        <thead>
                            <tr><td colspan="5" class="table_select_filters">
                              <a href="" ng-click="selectAll('all')"><%= _('Select all') %></a> |
                              <a href="" ng-click="selectAll('none')"><%= _('Select none') %></a> |
                              <a href="" ng-click="selectAll('donated')"><%= _('Select all that have donated') %></a> |
                              <a href="" ng-click="selectAll('!donated')"><%= _('Select all that have not donated') %></a>
                            </td></tr>
                            <tr>
                                <td style="width: 5px;"></td>
                                <td><%= _('Contact') %></td>
                                <td><%= _('Commitment') %></td>
                                <td style="width:24%;"><%= _('Donation(s)') %></td>
                                <td style="width:4%;"></td>
                            </tr>
                        </thead>
                        <tbody>
                          <tr ng-repeat="c in appeal.contacts | orderBy:contactName">
                            <td class="table_select_check"><input type="checkbox" ng-model="$parent.checkedContacts[c]"></td>
                            <td>{{contactName(c)}}</td>
                              <td>
                                <span ng-if="contactDetails(c).status === 'Partner - Financial'">
                                  ${{formatNumber(contactDetails(c).pledge_amount)}} {{pledgeFrequencyStr(contactDetails(c).pledge_frequency)}}
                                </span>
                              </td>
                              <td><span ng-repeat="d in listDonations(c)" style="display:block;">{{d}}</span></td>
                              <td><a class="ico ico_trash" href ng-click="deleteContact(c)"><%= _('Delete') %></a></td>
                          </tr>
                          <tr>
                            <td colspan="2"></td>
                            <td style="text-align: right;"><strong>Total:</strong> </td>
                            <td>${{formatNumber($parent.donationTotal(appeal.donations).sum)}}</td>
                          </tr>
                          <tr>
                            <td colspan="2"></td>
                            <td style="text-align: right;"><strong>Average:</strong> </td>
                            <td>${{formatNumber($parent.donationTotal(appeal.donations).average)}}</td>
                          </tr>
                          <tr><td colspan="5" class="table_select_filters">
                              <a href="" ng-click="selectAll('all')"><%= _('Select all') %></a> |
                              <a href="" ng-click="selectAll('none')"><%= _('Select none') %></a> |
                              <a href="" ng-click="selectAll('donated')"><%= _('Select all that have donated') %></a> |
                              <a href="" ng-click="selectAll('!donated')"><%= _('Select all that have not donated') %></a>
                          </td></tr>
                        </tbody>
                    </table>
                    <span ng-show="!contacts"><%= _('Loading contacts...') %></span>

                  <div class="row">
                    <div class="col-sm-4">
                      <%= _('Add contact') %>
                    </div>
                    <div class="col-sm-8">
                      <div class="form-group">
                        <div class="input-group">
                          <select class="form-control" ng-model="newContact" ng-options="c.id as c.name for c in contacts"></select>
                          <span class="input-group-btn">
                            <button class="btn btn-default" ng-click="addContact(newContact)"><%= _('Add') %></button>
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-sm-4">
                      <%= _('Create task for selected:') %>
                    </div>
                    <div class="col-sm-8">
                      <div class="form-group">
                        <div class="input-group">
                          <select class="form-control" ng-model="taskType" ng-options="t as t for t in taskTypes"></select>
                          <span class="input-group-btn">
                            <button class="btn btn-default" ng-click="createTask(taskType, checkedContacts)" ng-disabled="!taskType || creatingBulkTasks"><%= _('Create') %></button>
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-sm-4">
                        <%= _('Export selected to:') %>
                    </div>
                    <div class="col-sm-8">
                      <div class="form-group">
                        <div class="input-group">
                          <select class="form-control" ng-model="exportType">
                            <option value="csv">CSV</option>
                            <option value="mailchimp">MailChimp</option>
                          </select>
                          <span class="input-group-btn">
                            <button class="btn btn-default" ng-click="exportContacts(exportType, checkedContacts)" ng-disabled="!exportType"><%= _('Export') %></button>
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-sm-4">
                      <%= _('Create tag for selected:') %>
                    </div>
                    <div class="col-sm-8">
                      <div class="form-group">
                        <div class="input-group">
                            <input type="text" class="form-control" ng-model="newTag">
                            <span class="input-group-btn">
                              <button class="btn btn-default" ng-click="createTag(newTag, checkedContacts)" ng-disabled="!newTag || creatingTag"><%= _('Create') %></button>
                            </span>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
            </div>
        </form>
    </div>
  <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
    <div class="ui-dialog-buttonset">
      <button ng-click="save()"><%= _('Save') %></button>
      <button ng-click="cancel()"><%= _('Cancel') %></button>
    </div>
  </div>
</div>
