<div class="ui-dialog ui-widget ui-widget-content ui-corner-all ui-front ui-dialog-buttons ui-dialog-responsive" style="width: 100%;">
    <div class="ui-dialog-titlebar ui-widget-header ui-corner-all ui-helper-clearfix">
        <span id="ui-id-7" class="ui-dialog-title"><%= _('Create New Appeal') %></span>
        <button type="button" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-icon-only ui-dialog-titlebar-close" title="close" ng-click="cancel()">
            <span class="ui-button-icon-primary ui-icon ui-icon-closethick"></span>
            <span class="ui-button-text"><%= _('close') %></span>
        </button>
    </div>
    <div class="ui-dialog-content ui-widget-content">
        <form>
            <div class="form_wrapper">
                <div class="field">
                    <label><%= _('Name') %></label>
                    <input autofocus="autofocus" type="text" ng-model="appeal.name">
                </div>

                <div class="form-inline">
                    <div class="form-group">
                        <label><%= _('Initial goal') %></label>
                        <input type="number" ng-model="goal.initial" ng-change="calculateGoal(goal)"
                               style="width:80px;" class="form-control" raw-number> +
                    </div>
                    <div class="form-group">
                        <label><%= _('Letter cost') %></label>
                        <input type="text" ng-model="goal.letterCost" ng-change="calculateGoal(goal)"
                               class="form-control" style="width:80px;"> *
                    </div>
                    <div class="form-group">
                        <label><%= _('Admin %') %></label>
                        <input type="text" ng-model="goal.adminPercent" ng-change="calculateGoal(goal)"
                               class="form-control" style="width:80px;"> =
                    </div>
                    <div class="form-group">
                        <label><%= _('Goal') %></label>
                        <input type="text" ng-model="appeal.amount" class="form-control" style="width:80px;">
                    </div>
                </div>
                <div style="clear:both; height:10px;"></div>
                <div class="field appealFilterCol">
                    <label class="filter_selector_title"><%= _('Add contacts with the following status(es):') %></label>
                    <div class="filter_selector" ng-repeat="status in contactStatuses">
                        <label><input type="checkbox" ng-model="appeal.validStatus[status]"> {{status}}</label>
                    </div>
                </div>
                <div class="field appealFilterCol">
                  <label class="filter_selector_title"><%= _('Add contacts with the following tag(s):') %></label>
                  <div class="filter_selector" ng-repeat="tag in contactTags">
                    <label><input type="checkbox" ng-model="appeal.validTags[tag]"> {{tag}}</label>
                  </div>
                </div>
              <div class="field appealFilterCol">
                <label class="filter_selector_title"><%= _('Do not add contacts who:') %></label>
                <div class="filter_selector">
                  <label><input type="checkbox" ng-model="appeal.exclude['specialGift3months']"> <%= _('Gave a special gift in the last 3 months') %></label>
                </div>
                <div class="filter_selector">
                  <label><input type="checkbox" ng-model="appeal.exclude['joinedTeam3months']"> <%= _('Joined my team in the last 3 months') %></label>
                </div>
                <div class="filter_selector">
                  <label><input type="checkbox" ng-model="appeal.exclude['increasedGiving3months']"> <%= _('Increased their giving in the last 3 months') %></label>
                </div>
                <div class="filter_selector">
                  <label><input type="checkbox" ng-model="appeal.exclude['stoppedGiving2months']"> <%= _('Stopped giving for the last 2 months') %></label>
                </div>
                <div class="filter_selector">
                  <label><input type="checkbox" ng-model="appeal.exclude['doNotAskAppeals']"> <%= _('Are marked as do not ask for appeals') %></label>
                </div>
              </div>
            </div>
        </form>
    </div>
  <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
    <div class="ui-dialog-buttonset">
      <button ng-click="save()"><%= _('Create') %></button>
      <button ng-click="cancel()"><%= _('Cancel') %></button>
    </div>
  </div>
</div>
