<div style="padding-top:10px;">
  <label><%= _('Due date') %></label>
  <input type="text" class="followUpDialogDatepicker" ng-model="<%= task_var %>.date" style="width:100px;">

  <select ng-model="<%= task_var %>.hour">
    <option value="00">12 AM</option>
    <option value="01">01 AM</option>
    <option value="02">02 AM</option>
    <option value="03">03 AM</option>
    <option value="04">04 AM</option>
    <option value="05">05 AM</option>
    <option value="06">06 AM</option>
    <option value="07">07 AM</option>
    <option value="08">08 AM</option>
    <option value="09">09 AM</option>
    <option value="10">10 AM</option>
    <option value="11">11 AM</option>
    <option value="12">12 PM</option>
    <option value="13">01 PM</option>
    <option value="14">02 PM</option>
    <option value="15">03 PM</option>
    <option value="16">04 PM</option>
    <option value="17">05 PM</option>
    <option value="18">06 PM</option>
    <option value="19">07 PM</option>
    <option value="20">08 PM</option>
    <option value="21">09 PM</option>
    <option value="22">10 PM</option>
    <option value="23">11 PM</option>
  </select>
  :
  <select ng-model="<%= task_var %>.min">
    <% (0..59).each do |i| %>
      <% minute = "%02d" % i %>
      <option value="<%= minute %>"><%= minute %></option>
    <% end %>
  </select>
</div>
