<div class="alert alert-warning" role="alert">
  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
  <%= _('Please create a NEW list in MailChimp EXCLUSIVELY for use with MPDX. MPDX will automatically synchronize ' +
      'your mailchimp list with your MPDX data. If you pick an existing list, this process could have the effect of' +
      ' removing people from your mailchimp list.') %>
</div>



<br />
<div class="field">
  <%= f.label :primary_list_id, _('Pick a list to use for your newsletter') %>
  <%= f.select :primary_list_id, @mail_chimp_account.lists_available_for_newsletters.collect { |l| [l.name, l.id] }, {},
               { :class => 'form-control' } %><br />
   <%= f.label :auto_log_campaigns do %>
     <%= f.check_box :auto_log_campaigns  %>
     <%= _('Automatically log sent MailChimp campaigns in contact task history.') %>
   <% end %>
</div>
