<div class="alert alert-warning" role="alert">
  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
  <%= _('Please choose a list to sync with MailChimp. If select a list with existing subscribers, MPDX ' +
        'will add those contacts and set them to receive the email newsletter. If some of the subscribers ' +
        'already exist in MPDX, their email addresses will be added and they will be set to receive the email ' +
        'newsletter (or Both if they already get the physical letter).') %>
</div>

<br />
<div class="field">
  <%= f.label :primary_list_id, _('Pick a list to use for your newsletter') %>
  <%= f.select :primary_list_id, @mail_chimp_account.lists_available_for_newsletters.collect { |l| [l.name, l.id] }, {},
               { :class => 'form-control' } %><br />
  <% if $rollout.active?(:mail_chimp_auto_log, current_account_list) %>
   <%= f.label :auto_log_campaigns do %>
     <%= f.check_box :auto_log_campaigns  %>
     <%= _('Automatically log sent MailChimp campaigns in contact task history.') %>
   <% end %>
  <% end %> 
</div>
