<div class="row">
  <div class="col-md-3" role="complementary">
    <%= render 'settings_sidebar' %>
  </div>
  <div class="col-md-9">
    <div id="contentbody" class="withleft">
      <div class="wpp">
        <%= image_tag('logos/mailchimp_logo.png') %><br />
        <div>
          <%= _('You can now export your contacts to MailChimp.') %><br />
          <%= _('MailChimp API key:') %> <strong><%= @mail_chimp_account.api_key %></strong><br />
          <%= _('MailChimp list to use for your newsletter:') %> <strong><%= @mail_chimp_account.primary_list.name %></strong><br />
          <% if $rollout.active?(:mail_chimp_auto_log, current_account_list) %>
            <%= _('Automatic logging of campaigns: ') %>
            <strong><%= @mail_chimp_account.auto_log_campaigns? ? _('On') : _('Off') %></strong>
          <% end %>

          <br /><br />

          <%= link_to(_('Back'), integrations_settings_path, class: 'btn btn-primary desired_action') %>
          <%= link_to(_('Edit'), edit_mail_chimp_account_path(@mail_chimp_account), class: 'btn btn-secondary') %>
          <%= link_to(_('Delete'), mail_chimp_account_path(@mail_chimp_account), method: :delete, class: 'btn btn-link', data: { confirm: _('Are you sure?') }) %>
        </div>

      </div>
    </div>
  </div>
</div>
