<style>
    th { vertical-align: bottom; }
</style>
<div class="clr"></div>
<% if @recommnds %>

<h2>Recurring Gift Recommendations for <%=@current_user %></h2>

<div class="clr"></div>
<table class="tablelist donations" id="recurringGiftsDataTable">
  <thead>
  <tr>
    <th width="7%"><%= _('Gift Range') %></th>
    <th width="21%"><%= _('Account Name') %></th>
    <th><%= _('Zip') %></th>
    <th width="17%"><%= _('HH Income Range by Zip') %></th>
    <th><%= _('Current Gift') %></th>
    <th><%= _('Avg HH Income by Zip') %><sub>+</sub></th>
    <th><%= _('Last Change') %></th>
    <th><%= _('Next Suggested Ask') %></th>
    <th><%= _('Suggested Ask Amount') %></th>
    <th><%= _('Max Ask Amount') %></th>
  </tr>
  </thead>
  <tbody>
  <% @recommnds.each  do |c| %>

  <% @contact_id  = current_account_list.contacts.joins(:donor_accounts).where(donor_accounts: {account_number: c[:Column8]}).pluck('"contacts"."id"') %>

  <tr  >
    <td width="Auto"><%= c[:Column5] %></td>
    <td width="Auto"><%= link_to( c[:Column16], current_account_list.contacts.where(id: @contact_id, account_list_id: current_account_list.id).first) %></td>
    <td><%= c[:Column12] %></td>
    <td style="text-align:center"><%= c[:Column6] %></td>
    <td class="donations">$<%= c[:Column1] %></td>
    <td style="text-align:center">$<%= c[:Column2] %></td>
    <td class="date"><%= c[:Column10] %></td>
    <td class="nextAskYearMonth" ><%= c[:Column15]  %></td>
    <td style="text-align:center">$<%= c[:Column13] %></td>
    <td style="text-align:right">$<%= c[:Column14] %></td>
  </tr>

  <% end %>
      </tbody>
    </table>

<p>
<small><p align="left" position="bottom">+&nbsp;<cite><%= _( 'US Census Bureau. (2012). Retrieved from http://factfinder2.census.gov/') %></cite></p></small>
</p>
<% else %>
    <div class="mwrap">
      <div class="nohide floating" style="background-color: #FDFFD4;">You have no monthly recurring gift recommendations.</div>
    </div>
 <% end %>

<script type="text/javascript">


</script>