<a id="mpd_progress_bar" href="<%= contacts_path(filters: {status: ['Partner - Financial'], pledge_received: false}) %>"
   title="<%= _('%{received} received/%{pledged} pledged of goal: %{goal}. Click to see outstanding financial partners.').localize %
              { pledged: number_to_current_currency(current_account_list.total_pledges.to_i),
                received: number_to_current_currency(current_account_list.received_pledges.to_i),
                goal: number_to_current_currency(current_account_list.monthly_goal) } %>"
   data-toggle="tooltip" data-placement="bottom">
    <div class="bar bar-pledged" style="width: <%= current_account_list.pledged_percent %>%"></div>
      <div class="bar bar-received" style="width: <%= current_account_list.in_hand_percent %>%"></div>
    <span class="value <% if current_account_list.in_hand_percent < 60 %>right<% end %>">
      <%= current_account_list.in_hand_percent %>%/<%= current_account_list.pledged_percent %>%
    </span>
</a>
