<aside id="leftmenu">
  <ul class="nav nav-pills nav-stacked">
    <li>
      <%= link_to(_('Preferences'), personal_preferences_path) %>
    </li>
    <li>
      <%= link_to(_('Networks & Imports'), notification_preferences_path) %>
    </li>
    <li>
      <%= link_to(_('Imports Contacts'), network_preferences_path) %>
    </li>
    <li>
      <%= link_to(_('Connect Services'), integration_preferences_path) %>
    </li>
    <li>
      <%= link_to(_('Manage Account'), account_preferences_path) %>
    </li>
  </ul>
  </ul>
</aside>
