<li ng-class="{'selected': $ctrl.contactQuery.tags[0]}" ng-show="!$ctrl.insightFilterIsActive()">
  <span class="tags_title menu_item"><%= _('Tags') %></span>
  <ul class="left_tag_list tags" ng-class="{'show_all_tags': $ctrl.showAllFilterTags}" ng-init="tags = <%= tags.to_json %>">
    <li>
      <span class="tag"
            ng-class="{'selected': $ctrl.tagIsActive(tag)}"
            ng-click="$ctrl.tagClick(tag, $event)"
            ng-repeat="tag in tags">
        {{ tag }}
        <% if params[:controller] == 'contacts' %>
            <%= link_to '', "/tags/1?remove_tag_name={{tag}}&all_contacts=1", class: "tag_remove", namespace: 'remove_tag', method: :delete,
                        data: { confirm: _('Are you sure you want to remove this tag from all contacts?') }, :remote => true %>
        <% else params[:controller] == 'tasks' %>
            <%= link_to '', "/tags/1?remove_tag_name={{tag}}&all_tasks=1", class: "tag_remove", namespace: 'remove_tag', method: :delete,
                        data: { confirm: _('Are you sure you want to remove this tag from all tasks?') }, :remote => true %>
        <% end %>
      </span>
      <a href="#" class="show_all_tags_btn"
         ng-if="tags.length > 15"
         ng-click="$ctrl.showAllFilterTags = !$ctrl.showAllFilterTags; _gaq.push(['_trackEvent', 'Contacts Events', 'Click', 'See all tags']);"
         ng-switch="$ctrl.showAllFilterTags">
        <i ng-switch-when="false" class="fa fa-plus"></i>
        <i ng-switch-when="true" class="fa fa-minus"></i>
        <span ng-switch-when="false"><%= _('Show all') %> {{tags.length}} <%= _('tags') %></span>
        <span ng-switch-when="true"><%= _('Show fewer tags') %></span>
      </a>
    </li>
  </ul>
</li>
