<% @account_list_exhibit = exhibit(current_account_list, self) %>
<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
    <title>
      <%= "#{@page_title} - " if @page_title %> MPDX
    </title>
    <meta name="viewport" content="width=device-width, maximum-scale=1.0" />
    <link rel="icon" type="image/png" href="/mpdx-favicon.png" sizes="32x32">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag "angular-i18n/angular-locale_#{locale.downcase}.js" %>
    <%= javascript_include_tag "twitter_cldr/min/#{locale}.min.js" %>
    <%= csrf_meta_tags %>
    <base href="/">
  </head>
  <body id="<%= controller.controller_name %>_<%= controller.action_name %>" class="<%= controller.controller_name %>_controller" ng-app="mpdxApp">
    <preload-state name="current_user_id" data="<%= current_user.id %>"></preload-state>
    <preload-state name="current_currency" data="<%= current_currency %>"></preload-state>
    <preload-state name="current_currency_symbol"
                   data="<%= TwitterCldr::Shared::Currencies.for_code(current_currency) ?
                                 TwitterCldr::Shared::Currencies.for_code(current_currency)[:symbol] :
                                 current_currency %>"></preload-state>
    <preload-state name="current_account_list_id" data="<%= current_account_list.id %>"></preload-state>
    <preload-state name="mail_chimp_account_present"
                   data="<%= current_account_list.mail_chimp_account.present? &&
                             current_account_list.mail_chimp_account.active %>"></preload-state>
    <preload-state name="mail_chimp_lists"
                   data='<%= current_account_list.mail_chimp_account.try(:lists_available_for_appeals)
                                                 .to_json.html_safe %>'></preload-state>
    <preload-state name="multi_currencies_for_same_symbol"
                   data="<%= exhibit(current_account_list).multi_currencies_for_same_symbol? %>"></preload-state>
    <preload-state name="default_currency" data="<%= current_account_list.default_currency %>"></preload-state>
    <preload-state name="contact_limit" data="<%= session[:prefs].try(:[], :contacts).try(:[], :limit) || 25 %>"></preload-state>

    <%= render 'impersonation_bar' %>
    <%= render 'peek/bar' %>
    <header id="global">
      <div class="head-user-wrap">
        <div class="container">
          <hgroup id="user">
            <div class="row">
              <div class="col-md-6 col-xs-6" id="brand">
                <%= link_to("", "/", :class=> "logo") %>
              </div>
              <div class="col-md-6 col-xs-6">
                <div class="links text-right">
                  <div class="section lists account-dropdown" data-behavior="account_selector" style="<%= 'display:none' unless current_user.account_lists.length > 1 %>">
                    <a data-behavior="current_account" class="btn btn-default btn-account-dropdown">
                      <span class='cur'><%= current_account_list.name %></span>
                      <span class="caret"></span>
                      <%#= image_tag("list_select.png") %>
                    </a>
                    <div style="display:none" class="switcher">
                      <ul>
                        <% (current_user.account_lists - [current_account_list]).each do |al| %>
                          <li><%= link_to(al.name, "/home/change_account_list?id=#{al.id}") %></li>
                        <% end %>
                      </ul>
                    </div>
                  </div>

                  <div class="section">
                    <form method="get" action="/contacts" id="searchform">
                      <input type="text" class="form-control" name="q" id="globalContactSearch" autocomplete="off" placeholder="<%= _('Search contacts...') %>" value="<%= request.GET["q"] %>" />
                      <%# <button type="submit">Search</button> %>
                    </form>
                  </div>
                  <div class="section">
                    <div class="dropdown">
                      <a class="dropdown-toggle settings-drop" href="#" type="button" data-toggle="dropdown" aria-expanded="true" data-disabled="true">
                        <i class="fa fa-cog"></i>
                      </a>
                      <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="settings-drop">
                        <li role="presentation"><%= link_to(_('Preferences'), personal_preferences_path) %></li>
                        <li role="presentation"><%= link_to(_('Notifications'), notification_preferences_path) %></li>
                        <li role="presentation"><%= link_to(_('Imports Contacts'), network_preferences_path) %></li>
                        <li role="presentation"><%= link_to(_('Connect Services'), integration_preferences_path) %></li>
                        <li role="presentation"><%= link_to(_('Manage Account'), account_preferences_path) %></li>
                        <% if current_user.admin %>
                          <li role="presentation">
                            <%= link_to(_('Admin'), admin_home_index_path) %>
                          </li>
                        <% end %>
                        <li role="presentation"><%= link_to(_('Log out'), '/logout', :class => "") %></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </hgroup>
        </div>
      </div>
      <hgroup id="menu">
        <div id="mainmenu">
          <nav class="navbar">
            <div class="container">
              <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
              </div>
              <div class="row">
                <div class="col-md-8 col-sm-9">
                  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                      <li class="item <%= request.path == '/' ? 'active' : '' %>"><%= link_to(_('Dashboard'), "/") %></li>
                      <li class="item <%= request.path =~ /\/contacts/ ? 'active' : '' %>"><%= link_to(_('Contacts'), "/contacts", target: "_self") %></li>
                      <li class="item <%= request.path =~ /\/tasks/ ? 'active' : '' %>"><%= link_to(_('Tasks'), "/tasks/", target: "_self") %></li>
                      <li class="item <%= request.path =~ /\/donations/ ? 'active' : '' %>"><%= link_to(_('Donations'), "/donations") %></li>
                      <% if $rollout.active?(:multi_currency_reports, current_account_list) %>
                        <li class="item <%= request.path =~ /\/reports/ ? 'active' : '' %>"><%= link_to(_('Reports'), reports_expected_monthly_totals_path) %></li>
                      <% end %>
                      <% if $rollout.active?(:research, current_account_list) %>
                        <li class="item <%= request.path =~ /\/research/ ? 'active' : '' %>"><%= link_to(_('Research'), "/research") %></li>
                      <% end %>
                      <% if show_insights? %>
                        <li class="item <%= request.path =~ /\/insights/ ? 'active' : '' %>"><%= link_to(_('Insights'), "/insights") %></li>
                      <% end %>
                      <li class="item last"><%= link_to(_('Help'), new_help_request_path, target: '_blank') %></li>
                    </ul>
                  </div>
                </div>
                <div class="col-md-4 col-sm-3 text-right">
                  <div class="navbar-quick hidden-sm hidden-xs">
                    <% if $rollout.active?(:multi_currency_balance, current_account_list) %>
                      <%= @account_list_exhibit.balances %>
                    <% else %>
                      <%= @account_list_exhibit.old_balances_calc(current_user) %>
                    <% end %>
                  </div>
                  <div class="text-right navbar-quick">
                    <div class="dropdown">
                      <a class="dropdown-toggle btn btn-secondary" href="#" type="button" id="quick-drop" data-toggle="dropdown" aria-expanded="true" data-disabled="true"  onClick="_gaq.push(['_trackEvent', 'Global Events', 'Actions', 'Quick Add']);">
                        <i class="fa fa-plus-circle"></i> <%= _('Quick Add') %>
                      </a>
                      <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="quick-drop">
                        <li role="presentation"><%= link_to(_('Add Task'), new_task_path, id: 'add_task_button', class: 'add_task', remote: true) %></li>
                        <li role="presentation"><%= link_to(_('Add Contact'), new_contact_path, class: '') %></li>
                        <li role="presentation"><%= link_to(_('Multiple Contacts'), add_multi_contacts_path, remote: true, class: '') %></li>
                      </ul>
                    </div>
                  </div>
                </div>

              </div><%# row %>
            </div><%# container-luid %>
          </nav>

        </div>
        <div id="submenu">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <% if params[:controller] == 'contacts' %>
                  <div class="section"><%= link_to(_('Import Contacts'), accounts_path, class: '') %></div>
                  <div class="section"><%= link_to(_('Find Duplicates'), find_duplicates_contacts_path, class: '') %></div>
                <% end %>
                <% if params[:controller] == 'donations' %>
                  <div class="section"><%= link_to('<i class="fa fa-plus-square"></i> '.html_safe + _('Add a donation'), new_donation_path, remote: true, class: 'no-new-tab') %></div>
                  <div class="section"><%= link_to(_('Contribution Report'), reports_contributions_path) %></div>
                  <div class="section">
                    <%= link_to(_('Sync Donations Now'), donation_syncs_path, method: :post) %>
                  </div>
                <% end %>

                <% if request.path.start_with?('/reports') %>
                  <div class="section <%= request.path =~ /\/expected_monthly_totals/ ? 'active' : '' %>">
                    <%= link_to(_('Expected Monthly Total'), reports_expected_monthly_totals_path) %>
                  </div>
                  <div class="section <%= request.path =~ /\/balances/ ? 'active' : '' %>">
                    <%= link_to(_('Balances'), reports_balances_path) %>
                  </div>
                  <div class="section <%= request.path =~ /\/salary_currency_donations/ ? 'active' : '' %>">
                    <%= link_to(_('Contributions by Salary Currency'), reports_salary_currency_donations_path) %>
                  </div>
                  <div class="section <%= request.path =~ /\/donor_currency_donations/ ? 'active' : '' %>">
                    <%= link_to(_('Contributions by Partner Currency'), reports_donor_currency_donations_path) %>
                  </div>
                <% end %>
                <% if current_account_list.monthly_goal.present? && current_account_list.monthly_goal > 0 %>
                  <div class="section right">
                    <%= render 'progress_bar' %>
                  </div>
                <% end %>
              </div>
            </div><%# row %>
          </div>
        </div><%# submenu %>
      </hgroup>
    </header>

    <div id="body">
      <div id="content" layout-settings
           class="container"
           ng-class="{'container-fluid': $layoutSettingsCtrl.layoutSettings.fullWidth, 'container': !$layoutSettingsCtrl.layoutSettings.fullWidth}">
        <%= render 'notices' %>
        <%= yield %>
        <a href="#" id="exit-fullscreen">
          <span class="icons">
            <i class="fa fa-arrow-right"></i><i class="fa fa-arrow-left"></i>
          </span>
        </a>
      </div>
      <div id="footer" class="container brand-font">
        <div class="row">
          <div class="col-md-12">
            <div class="footer-border"></div>
            <img src="https://www.cru.org/images/cru-logo.svg" onerror="this.src='https://www.cru.org/images/cru-logo.png'; this.onerror=null;">
            <%= link_to(image_tag(''), '') %><br/>
            <%= link_to(_('Support/Help'), new_help_request_path, target: '_blank') %>
            <%= link_to(_('Privacy Policy'), '/privacy', target: '_blank') %>
            <br/>
            © 2012-2015, <span id="nice-fonts">Cru.</span> All Rights Reserved.
          </div>
        </div>
        <% if session[:fullsite] == true %>
        <%= link_to(_('Visit Mobile Version'), '/mobile/') %>
        <% end %>
      </div>
    </div>
    <div id="feedback" style="display: none;">
      <h2><%= _('Need Help?') %></h2>
      <p><%== _("Check out %{help_site} for training videos and FAQs. If you can't find the answer you need there or need to report a bug, %{link}").localize %
              {link: link_to(_('click here to let us know'), new_help_request_path),
               help_site: link_to('our MPDX Help Site', 'https://www.gcx.org/mpdxhelp/', target: '_blank')} %>
      </p>
    </div>

    <div id="confirmation_modal" title="<%= _('Are you sure?') %>"></div>
    <div id="page_spinner" title="<%= _('Please Wait') %>" style="display:none"><%= spinner(visible: true) %></div>

    <div id="edit_task_modal" title="<%= _('Task') %>" style="display:none">
      <div class="form_wrapper">
        <%#= render 'tasks/modal_form' %>
      </div>
    </div>
    <div id="mini_contact_modal" title="<%= _('Contact Details') %>" style="display:none">
    </div>
    <div id="referrals_modal" style="display:none">
      <%= spinner(visible: true) %>
    </div>

    <div id="toastPopup" style="display: none;"></div>
    <script type="text/javascript">
      $('#nice-fonts').dblclick(function() {$('.data-font').toggleClass("on");});

      (function(d) {
        var tkTimeout=3000;
        if(window.sessionStorage){if(sessionStorage.getItem('useTypekit')==='false'){tkTimeout=0;}}
        var config = {
          kitId: 'ddm2mzv',
          scriptTimeout: tkTimeout
        },
        h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+"wf-inactive";if(window.sessionStorage){sessionStorage.setItem("useTypekit","false")}},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+="wf-loading";tk.src='//use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
      })(document);

      if(window.Rollbar) {
        Rollbar.configure({
          payload: {
            person: {
              id: <%= current_user.id %>,
              email: '<%= current_user.email %>'
            }
          }
        });
      }
    </script>
    <script type="text/javascript" src="//maps.google.com/maps/api/js?v=3.13&amp;sensor=false&amp;libraries=places,geometry"></script>
    <%= render 'google_analytics' %>
  </body>
</html>
