<% wizard_scope = wizard_path[1..-1].sub('/','.') %>
<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
    <title><%= _('Setup') %> - MPDX</title>
    <%= stylesheet_link_tag    "splash", :media => "all" %>
    <%= stylesheet_link_tag    "errors", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= render 'google_analytics' %>

    <script src="//use.typekit.net/ddm2mzv.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>
  </head>
  <body id="<%= controller.controller_name %>_<%= controller.action_name %>" setup-step="<%= step %>">
    <div class="container-fluid container-first">
    </div>

    <div class="container">


        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <div class="splash-user-bar text-right">
              <div class="links">
                <div class="section"><strong><%= current_user %></strong></div>
                <div class="section"><%= link_to(_('Log out'), "/logout") %></div>
              </div>
            </div>
            <div class="well well-splash-setup">
              <div id="body">
                <header id="global" class="outer">
                  <div class="row">
                    <div class="col-md-12 text-center">
                      <div id="brand">
                        <h1 class="logo">MPDX</h1>
                      </div>
                    </div>
                  </div>
                </header>

                <div class="callout row">
                  <div class="col-md-12 text-center">
                    <% if wizard_scope == 'setup.org_accounts' %>
                      <h3><%= _("Let's start by connecting to your organizations") %></h3>
                    <% else %>
                      <div class="alert alert-success" role="alert">
                        <p><strong><%= _('Sweet! Your Account is activated!') %></strong> <br/>
                      </div>
                    <% end %>
                  </div>
                </div>

                <div id="content">

                  <% if notice %>
                    <div class="alert alert-info" role="alert"><%= notice %></div>
                  <% end %>
                  <% if alert %>
                    <div class="alert alert-warning" role="alert"><%= alert %></div>
                  <% end %>

                  <%= yield %>

                </div>
              </div>

              <footer class="well-login-footer text-center">
                Ministry Partner Development ConneXion | <%= mail_to('support@mpdx.org', _('Support')) %> | <%= link_to(_('Privacy Policy'), '/privacy', target: '_blank') %><br/>
                &copy; Copyright <%= Time.now.year %> by <%= link_to('Cru', 'http://cru.org') %> | <a href="https://smartystreets.com ">Address Validation</a> by SmartyStreets
              </footer>
            </div>
          </div>
        </div>


    </div>

    <div id="missing_org_modal" title="<%= _("Don't see your organization here?") %>" style="display:none">
      <div class="form_wrapper">
        <p>
          <%= _('We are sorry, but you must have an organization selected to continue. MPDX is open ' +
                'to any missions organization or church. If your organization is listed in the dropdown ' +
                'box, you can just sign up. If not, we need to add your organization. There are two ' +
                'routes to go about this.') %>
        </p>
        <p>
          <%== format(_('The first is to create an offline organization which is a quick process. However, this ' +
                        'means that you have to enter in your contacts and donations in manually. If you would ' +
                        'like to go this route, please email us at %{email_link} with the name of your organization.'),
                 email_link: mail_to('support@mpdx.org')) %>
        </p>
        <p>
          <%= _('The second is to set up your organization to sync your donations with MPDx. This is ' +
                'actually not done by us, but here is where you can go to get started: ') %>
          <%= link_to('http://www.tntware.com/tntmpd.dataserver/', 'http://www.tntware.com/tntmpd.dataserver/') %>.
        </p>
      </div>
    </div>
    <div id="confirmation_modal" title="<%= _('Are you sure?') %>"></div>
    <div id="org_error_modals_container"></div>
  </body>
</html>
