<div class="row">
  <div class="col-md-3" role="complementary">
    <%= render 'settings_sidebar' %>
  </div>
  <div class="col-md-9">
    <div id="contentbody">
      <div class="wpp">
        <div class="row">
          <div class="col-md-12">
            <div class="page-filters">
              <h2><%= _('Networks & Imports') %></h2>
            </div>
          </div>
        </div>
        <% @providers.each do |provider| %>
          <div class="network_connect spacer-top">

            <table>
              <tr>
                <td class="identify">
                  <div class="network_logo">
                    <%= image_tag("logos/#{provider}_logo.png", alt: provider) %>
                  </div>
                </td>
                <td class="connections">
                  <%= render 'network_connections', provider: provider %>
                  <% case provider %>
                  <% when 'facebook', 'relay', 'key', 'google' %>
                  <% else %>
                    <div class="alert alert-warning" role="alert"><%= _('MPDX does not currently import any data from this source, but it will soon! Connect your account now to be ready for when it does') %></div>
                  <% end %>

                  <% if provider == 'facebook' %>
                    <div class="alert alert-warning" role="alert"><%= _('As of April 30, 2015 Facebook changed how they integrate with apps like MPDX so we cannot currently import Facebook contacts. We will investigate options in the future.') %></div>
                  <% else %>
                    <div class="network_button">
                      <%= auth_link(provider) %>
                    </div>
                  <% end %>

                </td>
              </tr>
            </table>
          </div>
        <% end %>
        <% provider = 'organization' %>
        <div class="network_connect">
          <table>
            <tr>
              <td class="identify">

                <div class="network_logo">
                  <%= image_tag("logos/#{provider}_logo.png", alt: provider) %>
                </div>


              </td>
              <td class="connections">
                <%= render 'network_connections', provider: provider %>
                <div class="network_button">
                  <%= link_to(_('Add another Account'), '#', data: {behavior: 'add_org_account'}, :class => "btn btn-secondary btn-xs") %>
                </div>
              </td>
            </tr>
          </table>
        </div>

        <% %w[tnt].each do |provider| %>
          <div class="network_connect">

            <table>
              <tr>
                <td class="identify">

                  <div class="network_logo">
                    <h3>
                      <%= image_tag("logos/#{provider}_logo.png", alt: provider) %><br />
                      TntMPD
                    </h3>
                  </div>
                </td>
                <td class="connections" data-behavior="account" style="width:500px">

                  <div class="importoptions formstyles well" data-behavior="import_options" style="display:none">
                    <%= form_for Import.new(source: provider) do |f| %>
                      <%= f.hidden_field :source %>

                      <div class="form-group">
                        <%= f.file_field :file, class: 'form-control' %>
                        <%= f.hidden_field :file_cache %>
                      </div>

                      <div class="radio">
                        <label class="field radiocheck">
                          <%= f.radio_button :override, false %>
                          <%= _('Only add data to matched contact records when the current field is blank.') %>
                        </label>
                      </div>

                      <div class="radio">
                        <label>
                          <%= f.radio_button :override, true %>
                          <%= _('Override existing contact fields with data in the uploaded file.') %>
                        </label>
                      </div>

                      <div class="field">
                        <div class="importtags">
                          <%= f.text_field :tags, placeholder: _('Add tags to these contacts') %>
                        </div>
                      </div>
                      <div class="hint">
                        <p><%= link_to(_('<i class="fa  fa-cloud-download"></i> Note: You must be upgraded to the latest version of TntMPD to do this. Click here to download the latest version.'), 'http://www.tntware.com/tntmpd/downloads/') %></p>
                        <p><%= link_to(_('<i class="fa fa-play-circle-o"></i> Please watch this video to learn how to export from TNT in the specific format for MPDx.'), 'http://www.youtube.com/watch?v=EoWFRFIYMkQ&list=UUTjqVT-m3YXICbwaIu9_Gqg&index=22', target: '_blank') %></p>
                      </div>
                      <a href="#" class="btn btn-primary" data-behavior="import_button"><%= _('Import') %></a>
                    <% end %>
                  </div>
                  <div><a href="#" class="btn btn-xs btn-secondary" data-behavior="show_import"><%= _('<i class="fa fa-user-plus"></i> Import Contacts') %></a></div>

                </td>
              </tr>
            </table>
          </div>
        <% end %>

        <% if $rollout.active?(:csv_import, current_account_list) %>
          <% %w[csv].each do |provider| %>
            <div class="network_connect">

              <table>
                <tr>
                  <td class="identify">

                    <div class="network_logo">
                      <h3>
                        .CSV File
                      </h3>
                    </div>
                  </td>
                  <td class="connections" data-behavior="account" style="width:500px">
                    <div class="importoptions formstyles" data-behavior="import_options" style="display:none">
                      <%= _('To import from a .csv spreadsheet file:') %>
                      <ol>
                        <li>
                          <%= (_('Download the <a href="%{sample_url}">sample MPDX csv import file</a>.'
                                ).localize % { sample_url: sample_imports_path(format: :csv) }).html_safe %>
                        </li>
                        <li> <%= _('Format your data to match the sample:') %>
                          <ul>
                            <li>
                              <%= _('The headers in the first row must exactly match the sample.') %>
                            </li>
                            <li>
                              <%= _('The Status, Commitment Frequency, and Newsletter values must also exactly ' +
                                    'match one of the "Cell Options" in the sample.') %>
                            </li>
                            <li>
                              <%= _('The Spouse Last Name, Greeting and Envelope Greeting fields will get ' +
                                    'automatic defaults if you leave them blank.') %>
                            </li>
                          </ul>
                        </li>
                        <li>
                          <%= _('When you finish formatting your data, remove any blank or sample rows ' +
                                'at the bottom, upload your file below, optionally specify a tag, and click "Preview Import."') %>
                        </li>
                        <li>
                          <%= _('You can then review the import to ensure it is correct and re-upload as needed. ' +
                                "Note that the sample itself isn't fully valid because we included instructions at the bottom.") %>
                        </li>
                        <li>
                          <%= _('Once you have a CSV import with valid and correct data you can click "Run import" from the preview page.') %>
                        </li>
                      </ol>

                      <%= form_for Import.new(source: provider, in_preview: true) do |f| %>
                        <%= f.hidden_field :source %>
                        <%= f.hidden_field :in_preview %>

                        <div class="field">
                          <%= f.file_field :file %>
                          <%= f.hidden_field :file_cache %>
                        </div>

                        <div class="field">
                          <div class="importtags">
                            <%= f.text_field :tags, placeholder: _('Add tags to these contacts') %>
                          </div>
                        </div>
                        <a href="#" class="" data-behavior="import_button"><%= _('Preview Import') %></a>
                      <% end %>
                    </div>
                    <div><a href="#" class="btn btn-xs btn-default" data-behavior="show_import"><%= _('Import Contacts') %></a></div>
                  </td>
                </tr>
              </table>
            </div>
          <% end %>
        <% end%>

        <div data-behavior="new_org_account" style="display:none" title="<%= _('Connect to your organization') %>">
          <div id="account_list" style="<% current_user.organization_accounts.blank? ? '' : 'display:none' %>">
            <%= select_tag(:organization_id, options_for_select(Organization.active.order('name').collect {|o| [o.name, o.id]}), include_blank: true) %>
            <%= link_to(_('Connect to selected organization'), new_person_organization_account_path, class: 'btn btn-primary btn-xs', id: 'connect_to_org') %>
          </div>
        </div>
        <div id="org_connection_box">
        </div>

      </div>
    </div>
  </div>
</div>
