<div class="row">
  <div class="col-md-3" role="complementary">
    <%= render 'settings_sidebar' %>
  </div>
  <div class="col-md-9 wpp" id="contentbody">
    <div class="page-filters">
      <h2><%= _('Networks & Imports') %></h2>
    </div>

    <% %w[csv tnt].each do |provider| %>
      <table class="network_connect">
        <tr>
          <td class="identify network_logo">
            <h3>
              <% if provider == 'tnt' %>
                <%= image_tag("logos/tnt_logo.png", alt: 'TNTConnect') %>
              <% elsif provider == 'csv' %>
                .CSV File
              <% end %>
            </h3>
          </td>
          <td class="connections" data-behavior="account" style="width:500px">
            <div class="importoptions formstyles well" data-behavior="import_options" style="display:none">
              <%= render "#{provider}_import_form" %>
            </div>
            <a href="#" class="btn btn-xs btn-secondary" data-behavior="show_import">
              <i class="fa fa-user-plus"></i>
              <% if provider == 'tnt' %>
                <%= _('Migrate Database') %>
              <% else %>
                <%= _('Import Contacts') %>
              <% end %>
            </a>
          </td>
        </tr>
      </table>
    <% end %>


    <% @providers.each do |provider| %>
      <table class="network_connect spacer-top">
        <tr>
          <td class="identify network_logo">
            <%= image_tag("logos/#{provider}_logo.png", alt: provider) %>
          </td>
          <td class="connections">
            <%= render 'network_connections', provider: provider, actions: true %>

            <% if provider == 'facebook' %>
              <div class="alert alert-warning" role="alert">
                <%= _('As of April 30, 2015 Facebook changed how they integrate '+
                      'with apps like MPDX so we cannot currently import Facebook '+
                      'contacts. We will investigate options in the future.') %>
              </div>
            <% else %>
              <div class="network_button">
                <%= auth_link(provider) %>
              </div>
            <% end %>
          </td>
        </tr>
      </table>
    <% end %>

    <div id="new_org_account" style="display:none" title="<%= _('Connect to your organization') %>">
      <div id="account_list" style="<% current_user.organization_accounts.blank? ? '' : 'display:none' %>">
        <%= select_tag(:organization_id, options_for_select(Organization.active.order('name').collect {|o| [o.name, o.id]}), include_blank: true) %>
        <%= link_to(_('Connect to selected organization'), new_person_organization_account_path, class: 'btn btn-primary btn-xs', id: 'connect_to_org') %>
      </div>
    </div>
    <div id="org_connection_box"></div>
    <div id="org_error_modals_container"></div>

  </div>
</div>
